<template lang="pug">
  .c-history
    .ed-grid.m-grid-5
      .m-cols-3
        .c-history__options
          .c-search(
            v-click-outside="hide"
            @click="toggleSearch = true"
            :class="toggleSearch ? 'active': ''"
          )
            input(
              type="text"
              placeholder="Buscar"
            )
            i.icon-buscar_ico
          select-input.white(
              :elements="filters.points"
              @input="changeCurrentSelect()"
              :placeholder="currentFilters.points"
            )
          // .e-btn.e-btn--rounded.e-btn--secondary.e-btn--small(
            @click="currentOption = 'history'"
            :class="currentOption === 'history' ? '':'e-btn--white'"
          //) Historial
          //.e-btn.e-btn--rounded.e-btn--secondary.e-btn--small(
            @click="currentOption = 'blockeds'"
            :class="currentOption === 'blockeds' ? '':'e-btn--white'"
          //) Cancelados y bloqueados
          .c-history__filters
            //.e-btn.e-btn--rounded.e-btn--small.e-btn--white.e-btn--secondary.e-btn--icon
              i.icon-rango_fechas_ico
            //.e-btn.e-btn--rounded.e-btn--secondary.e-btn--small.e-btn--white Rango de fechas
            //input-switch(
              name="gestion"
              :options="positionOptions"
              @change="changeSwitch"
            //)
      .m-cols-2
        legend-table.c-history__legend
          ul.secondary
            li En sala
            li Navegando
            li Ausente
      .m-cols-5
        blocked-table
</template>

<script>
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    blockedTable: () => import('@/components/03-organism/blockesTable/default'),
    legendTable: () => import('@/components/01-atomo/legendTable/default'),
    selectInput: () => import('@/components/02-molecule/formElements/select'),
    inputSwitch: () => import('@/components/02-molecule/formElements/switch')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      toggleSearch: false,
      currentOption: 'history',
      position: 'all',
      positionOptions: [
        {
          name: 'Todo',
          value: 'all'
        },
        {
          name: 'Mi gestión',
          value: 'my-gestion'
        }
      ],
      filters: {
        points: [
          {
            name: 'Sesiones',
            value: 1
          },
          {
            name: 'Sala de Emociones',
            value: 2
          }
        ]
      },
      currentFilters: {
        points: {
          name: 'Categoría',
          value: null
        }
      }
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    changeCurrentSelect (e) {
      this.currentFilters.points = e
    },
    hide () {
      this.toggleSearch = false
    },
    changeSwitch (e) {
      this.position = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
