<template lang="pug">
  .row.ed-grid.m-grid-9
    .m-cols-1(
      :class="item.firstname ? '': 'error'"
    )
      .cell {{ item.firstname || 'Sin datos' }}
    .m-cols-1(
      :class="item.lastname ? '': 'error'"
    )
      .cell {{ item.lastname || 'Sin datos' }}
    .m-cols-1(
      :class="item.birthday ? '': 'error'"
    )
      .cell {{ item.birthday || 'Sin datos' }}
    .m-cols-1(
      :class="(item.document && item.document.length < 9) ? '': 'error'"
    )
      .cell {{ item.document || 'Sin datos' }}
    .m-cols-1(
      :class="(item.phone && item.phone.length < 10)  ? '': 'error'"
    )
      .cell {{ item.phone || 'Sin datos' }}
    .m-cols-1(
      :class="item.dateStart ? '': 'error'"
    )
      .cell {{ item.dateStart || 'Sin datos' }}
    .m-cols-1
      .cell {{ item.dateEnd || '-' }}
    .m-cols-1.center
      .cell Editar
    .m-cols-1.center
      .cell
        i.icon-trash
</template>

<script>
import { mapActions } from 'vuex'
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: false,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      cases: [],
      toggleOption: false
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_CASES: 'Sessions/A_GET_CASES'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
