.o-message {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: .5rem;
    position: relative;
    &.warning {
        background-color: $g-warning;
        color: $g-text-darker;
    }
    .close {
        cursor: pointer;
        position: absolute;
        margin-top: auto;
        margin-bottom: auto;
        right: 1rem;
    }
}