<template lang="pug">
  .patients-contact
    span.label(
      :class="data"
      @click="togglePatient = !togglePatient"
      v-click-outside="hide"
    ) {{participant.name}}
      i.icon-down
    ul(
      :class="togglePatient ? 'active':''"
    )
      li.cancel(@click="changePatient('cancel')") Canceló
      li.connect(@click="changePatient('connect')") Confirmó
      li.disconnect(@click="changePatient('disconnect')") No contestó
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    participant: {
      required: true,
      type: Object
    }
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: 'connect',
      togglePatient: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    changePatient (state) {
      this.data = state
      this.togglePatient = false
    },
    hide () {
      this.togglePatient = false
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
