<template lang="pug">
  .row.ed-grid.m-grid-12
    .m-cols-1
      .cell(:class="session.status")
        span.c-session-table__status(
          :class="session.status"
        )
    .m-cols-1.center
      .cell {{session.title}}
    .m-cols-1.center
      .cell {{ $moment(session.start, "YYYY-MM-DD").format('DD-MM-YYYY') }}
    .m-cols-1.center
      .cell {{ $moment(session.start, "hh:mm:ss").format('HH:mm') }}
    .m-cols-1.center
      .cell {{ $moment().format('HH:mm') }}
    .m-cols-1.center
      .cell {{ $moment(session.start, "hh:mm:ss").format('HH:mm') }}
    .m-cols-2.center
      .cell {{ session.notificationState }}
    .m-cols-1.center
      .cell {{ session.psychologist.state }} {{ session.psychologist.name }}
    .m-cols-1.center
      .cell {{ session.participants }} / {{ session.maxParticipants }}
    .m-cols-1.center
      .cell
        i.icon-join_ico.c-emotion-room-table__open
    .m-cols-1.center
      .cell
        i.icon-check.c-emotion-room-table__checkbox(
          :class="toggleOption ? 'active':''"
          @click="toggleOption = !toggleOption"
        )
        .c-session-table__toggle(
          :class="toggleOption ? 'active':''"
          @click="toggleOption = !toggleOption"
        )
          i.icon-down
    transition(name="fade")
      .m-cols-10(v-if="toggleOption")
        emotion-room-table-detail(
          :room="session"
          @caseRoomSubmited="afterCaseSubmit"
          )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    emotionRoomTableDetail: () => import('@/components/02-molecule/emotionRoomTable/detail')
  },
  props: {
    // propierty: { required: false, type: String },
    session: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      toggleOption: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    afterCaseSubmit (data) {
      this.toggleOption = false
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
