<template lang="pug">
  .row.ed-grid.m-grid-10
    .m-cols-2
      .cell(:class="session.status")
        span.c-session-table__status(
          :class="stateFromTime"
        )
        span.c-session-table__user(
          :class="statePatient"
        )
          i.icon-login_ico_usuario
        span.c-session-table__user(
          :class="statePsychologist"
        )
          i.icon-psico_icono
    .m-cols-1.center
      .cell {{ getCorrectDateHourMin() }}
    .m-cols-1.center
      .cell {{ currentTime.hours + ':' + this.currentTime.minutes }}
    .m-cols-1.center
      .cell {{ leftTime.hours + ':' + this.leftTime.minutes }}
    .m-cols-1
      .cell {{ session.Patient.firstname }}, {{ session.Patient.age }}
    .m-cols-1
      .cell {{ session.Psychologist.firstname }}, {{ session.Psychologist.age }}
    .m-cols-1.center
      .cell
        span.c-session-table__checkbox(
          :class="assigned ? 'active':''"
          @click="assignCase(session.id)"
        )
          i.icon-login_ico_check
    .m-cols-1.center
      .cell
        .c-session-table__toggle(
          :class="toggleOption ? 'active':''"
          @click="listCases"
        )
          i.icon-down
          span ({{ session.countCase }})
    .m-cols-1
      .cell.c-session-table__notification(v-if="session.notification.state")
        span(
          v-if="session.notification.state === 'error'"
        ) ---
        i.icon-login_ico_check(v-else)
      .cell(v-else) ---
    transition(name="fade")
      .m-cols-10(v-if="toggleOption")
        list-case(
          :items="cases"
          :session="session"
          @closeCase="closeCase"
        )
</template>

<script>
import { mapActions } from 'vuex'
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    listCase: () => import('@/components/03-organism/listCase/sessions')
  },
  props: {
    // propierty: { required: false, type: String },
    session: {
      required: true,
      type: Object
    },
    socket: {
      type: Object
    }
  },

  data () {
    return {
      data: '',
      cases: [],
      toggleOption: false,
      intervalCurrentTime: null,
      currentTime: {
        hours: 0,
        minutes: 0,
        seconds: 0
      },
      leftTime: {
        hours: 0,
        minutes: 0,
        seconds: 0,
        later: 0
      },
      connected: {
        patient: false,
        psychologist: false
      },
      started: false,
      assigned: false,
      statePatient: 'error',
      statePsychologist: 'error'
    }
  },

  computed: {
    stateFromTime () {
      if (this.leftTime.hours === 0) {
        if (this.leftTime.later > 0) {
          if (this.started && this.connected.patient && this.connected.psychologist) {
            return 'start'
          }
          return 'error'
        } else {
          if (this.leftTime.minutes > 10) {
            return 'regular'
          } else {
            if (this.started && this.connected.patient && this.connected.psychologist) {
              return 'start'
            }
            if (this.connected.patient && this.connected.psychologist) {
              return 'connect'
            }
            return 'soon'
          }
        }
      }
      return 'regular'
    }
  },

  watch: {},
  created () {
    this.updateCurrentTime()
    this.calculateDif()
    if (this.session.Helpdesk) {
      this.assigned = true
    }
    this.socket.emit('isConnect', { idProfile: this.session.Psychologist.id })
    this.socket.emit('isConnect', { idProfile: this.session.Patient.id })
  },
  mounted () {
    this.isPsychologistConnected()
    this.isPatientConnected()
    this.socket.on('connected-out-' + this.session.Psychologist.id, (data) => {
      if (data.idSession === this.session.id) {
        this.socket.emit('isConnect', { idProfile: this.session.Psychologist.id })
      }
    })
    this.socket.on('connected-out-' + this.session.Patient.id, (data) => {
      if (parseInt(data.idSession) === this.session.id) {
        this.socket.emit('isConnect', { idProfile: this.session.Patient.id })
      }
    })
    this.socket.on('waiting', (data) => {
      if (data.idProfile === this.session.Patient.id && this.session.id === parseInt(data.idSession)) {
        this.statePatient = 'connect'
      }
      if (data.idProfile === this.session.Psychologist.id && this.session.id === data.idSession) {
        this.statePsychologist = 'connect'
      }
    })
    this.socket.on('sessionStart', (therapies) => {
      this.started = !!therapies.includes(this.session.id)
      this.socket.emit('isConnect', { idProfile: this.session.Psychologist.id })
      this.socket.emit('isConnect', { idProfile: this.session.Patient.id })
    })
  },
  updated () {},
  methods: {
    ...mapActions({
      A_GET_CASES: 'Sessions/A_GET_CASES',
      A_ASSIGN_SESSION: 'Sessions/A_ASSIGN_SESSION'
    }),
    async listCases () {
      this.assignCase()
      try {
        this.toggleOption = !this.toggleOption
        if (this.toggleOption) {
          const { data } = await this.A_GET_CASES(this.session.id)
          this.cases = data
        }
      } catch (error) {
        console.log('error listCase:', error)
      }
    },
    assignCase () {
      if (!this.assigned) {
        this.assigned = !this.assigned
      }
      this.socket.emit('helpdeskAssigned', { id: this.socket.id })
      this.A_ASSIGN_SESSION(this.session.id)
    },
    updateCurrentTime () {
      const self = this
      this.intervalCurrentTime = setInterval(function () {
        const now = new Date()
        self.currentTime.hours = now.getHours()
        self.currentTime.minutes = self.addCero(now.getMinutes())
        self.currentTime.seconds = now.getSeconds()
      }, 1000)
    },
    calculateDif () {
      const now = new Date()
      const to = new Date(this.session.date)
      const utc = new Date(to.getTime() + to.getTimezoneOffset() * 60000)
      let diffInMilliSeconds = Math.abs(utc - now) / 1000
      const hours = Math.floor(diffInMilliSeconds / 3600) % 24
      diffInMilliSeconds -= hours * 3600
      const minutes = Math.floor(diffInMilliSeconds / 60) % 60
      diffInMilliSeconds -= minutes * 60
      if (utc > now) {
        this.leftTime.hours = hours
        this.leftTime.minutes = this.addCero(minutes)
        this.leftTime.later = 0
      } else {
        this.leftTime.hours = 0
        this.leftTime.minutes = this.addCero(0)
        this.leftTime.later = this.addCero(minutes)
      }
    },
    getCorrectDateHourMin () {
      const to = new Date(this.session.date)
      const utc = new Date(to.getTime() + to.getTimezoneOffset() * 60000)
      return utc.getHours() + ':' + utc.getMinutes()
    },
    addCero (number) {
      if (number < 10) {
        return '0' + number
      }
      return number
    },
    isPsychologistConnected () {
      this.socket.on('connected-' + this.session.Psychologist.id, (connected) => {
        this.connected.psychologist = connected
        this.statePsychologist = 'error'
        if (connected) {
          this.statePsychologist = 'warning'
        }
      })
      this.socket.on('connected-in-' + this.session.Psychologist.id, (data) => {
        this.connected.psychologist = true
        this.statePsychologist = 'warning'
        if (data.idSession === this.session.id) {
          this.statePsychologist = 'connect'
        }
      })
    },
    isPatientConnected () {
      this.socket.on('connected-' + this.session.Patient.id, (connected) => {
        this.connected.patient = connected
        this.statePatient = 'error'
        if (connected) {
          this.statePatient = 'warning'
        }
      })
      this.socket.on('connected-in-' + this.session.Patient.id, (data) => {
        this.connected.patient = true
        this.statePatient = 'warning'
        if (parseInt(data.idSession) === this.session.id) {
          this.statePatient = 'connect'
        }
      })
    },
    closeCase () {
      this.toggleOption = false
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
