<template lang="pug">
  .c-table.c-session-table
    .c-table__head.ed-grid.m-grid-7
      //- Header
      .m-cols-1 Código
      .m-cols-1 Proceso
      .m-cols-1 Objetivo
      .m-cols-1 Responsable
      .m-cols-1 Aprobado por
      .m-cols-1 Fecha Creación
      .m-cols-1 Ver
    .c-table__body
      //- Body
      protocol-table-row(
        v-for="(protocol, key) in S_PROTOCOLS"
        :key="key"
        :protocol="protocol"
      )
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    protocolTableRow: () => import('@/components/02-molecule/protocolTable/row')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    ...mapState({
      S_PROTOCOLS: state => state.Protocols.S_PROTOCOLS
    })
  },
  watch: {},
  async created () {
    await this.A_GET_PROTOCOLS()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_PROTOCOLS: 'Protocols/A_GET_PROTOCOLS'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
