.c-benefits-table {
  &__options {
    display: flex;
    padding: 2.5rem 0 1.5rem;

    > div {
      margin-right: .5rem;

      &:first-child {
        i {
          margin-right: 0;
        }
      }
    }
    .c-search {
      margin-left: auto;
    }
  }
  &__state {
    font-size: 1.3rem;
    color: #e0e0e0;

    &.success {
      color: $g-success;
    }
    &.warning {
      color: $g-warning;
    }
  }
  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.3rem;
    height: 1.3rem;
    border: 2px solid $g-secondary;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    color: transparent;
    cursor: pointer;
    transition: all 0.3s;

    &.active {
      background-color: $g-secondary;
      color: white;
    }
  }
  &__upload {
    border: 1px solid #c4c4c4;
    color: #c4c4c4;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    padding: 0.1rem;
    font-size: 1.3rem;
    color: $g-secondary;
    transition: all 0.3s;
    cursor: pointer;

    &.disabled {
      cursor: inherit;
      color: #c4c4c4;
    }
    input {
      display: none;
    }
  }
  &__select {
    width: 100%;
    box-shadow: 2px 2px 15px rgba(30, 6, 75, 0.12);
    border-radius: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    cursor: pointer;

    &.disabled {
      cursor: inherit;

      > span,
      > i {
        color: #e0e0e0;
      }
    }

    i {
      display: flex;
    }
    span {
      display: inline-block;
      padding: 0.5rem 0;
    }
    > span,
    > i {
      color: $g-secondary;
    }
    .option {
      position: absolute;
      top: calc(100% + 0.5rem);
      left: 0;
      background-color: white;
      width: 100%;
      box-shadow: 2px 2px 15px rgba(30, 6, 75, 0.12);
      padding: 1rem 0.5rem;
      z-index: 10;
      border-radius: 1rem;
    }
  }
}
