.c-benefits {
  padding: 1.5rem 1rem;

  &__options {
    display: flex;
    align-items: center;

    &__item {
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem 2rem;
      background-color: #cecece;
      color: white;
      margin-right: 1rem;
      font-size: 1.2rem;
      border-radius: 13px;
      position: relative;
      overflow: hidden;

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 1.5rem;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: black;
        opacity: 0.1;
      }
      i {
        font-size: 4rem;
        margin-left: 2rem;
        color: white;
        opacity: 0.3;
      }
      &:hover {
        text-decoration: none;
      }
      &.active {
        background-color: $g-secondary;
      }
    }
  }
  &__upload {
    display: flex;
    justify-content: flex-end;
  }
  &__legend {
    max-width: 350px;

    ul:first-child {
      margin-bottom: 0;
    }
    li {
      i {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        margin-right: 0.5rem;
      }
      &:nth-child(1) i {
        color: $g-success;
      }
      &:nth-child(2) i {
        color: $g-warning;
      }
      &:nth-child(3) i {
        color: #e0e0e0;
      }
    }
  }
}
