.c-case-row {
  color: #7D7D7D;
  i {
    font-size: 1.2rem;
  }
  &__state {
    i {
      margin-left: 1.5rem;
      margin-right: .5rem;
    }
  }
  .center {
    justify-content: center;
  }
  &__folder {
    i {
      cursor: pointer;
    }
  }
}