.c-create-case {
  &__profile {
    display: flex;

    .column {
      margin-right: 2rem;
    }
    .create-case-hours {
      width: 100%;
      display: grid;
      gap: .5rem;
      grid-auto-rows: 2rem;
      grid-template-columns: repeat(auto-fill, minmax(3.5rem, 1fr));
      padding: .5rem;
      overflow-x: auto;
      
      .hour {
        border: 1px solid $g-primary;
        border-radius: .5rem;
        color: $g-secondary;
        padding: .25rem;
        cursor: pointer;
        &.active {
          background-color: $g-primary;
          color: $g-light;
        }
        &[disabled] {
          border: 1px solid $g-text-light;
          background-color: $g-text-light;
          color: $g-text-darker;
        }
      }
    }
  }
  h4 {
    font-size: 1.1rem;
    font-weight: 500;
    color: $g-secondary;
  }
  .label {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    h4 {
      width: 100%;
    }
  }
  .e-btn {
    margin-top: 1rem;
  }
}