.c-creator {
  padding: 1rem;

  &__options {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;

    .e-btn {
      margin-left: 1rem;
    }
  }
  &-user {
    h2 {
      font-weight: 500;
      color: $g-secondary;
    }
    .ed-grid {
      max-width: 100%;
    }
  }
  &__form {
    border: 1px solid #E0E0E0;
    border-radius: .5rem;
    padding: 2rem; 

    > div {
      margin-bottom: 1rem;

      > span {
        margin-bottom: .5rem;
        display: block;
      }
      h3 {
        margin-bottom: 0;
        color: $g-secondary;
        font-weight: 400;
        font-size: 1rem;
      }
    }
    .buttons {
      display: flex;
      height: 100%;
      align-items: center;

      .e-btn {

        i {
          margin-left: 1rem;
          margin-right: 0;
        }
      }
    }
  }
  &__image {
    border: 1px solid #E0E0E0;
    border-radius: .5rem;
    padding: 2rem;
    position: relative;

    label {
      text-align: center;
      position: relative;
      display: block;
      
      p {
        margin-bottom: 1rem;
      }
      input {
        display: none;
      }
      img {
        display: block;
        width: 100%;
        height: 240px;
        border-radius: .7rem;
        object-fit: cover;
      }
    }
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      color: white;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      font-size: 1.5rem;
      left: calc(50% - 1.25rem);
      top: calc(100% - 1.25rem);
      background-color: #002D50;
      cursor: pointer;

      &.icon-trash {
        top: calc(100% - 3.25rem);
      }
    }
  }
  .send {
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  &__title {
    display: flex;
    align-items: center;

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $g-secondary;
      color: white;
      width: 2rem;
      height: 2rem;
      font-size: 1rem;
      border-radius: 50%;
      cursor: pointer;
    }
    h3 {
      margin-bottom: 0;
      margin-left: 1rem;
      font-size: 1.4rem;
      font-weight: 500;
      color: lighten($g-text-dark, 20);
    }
  }
  &-institution {
    margin: 1.5rem 0;
    border: 1px solid #E0E0E0;
    border-radius: .5rem;
    padding: 1.5rem;
    width: 100%;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .e-btn {
        padding: .7rem 3rem;
      }
    }
  }
  &-saves {
    width: 100%;
    margin-bottom: 1rem;

    input {
      display: none;
    }

    &__content {
      margin: 1rem 0;
      border-radius: .5rem;
      padding: 1.5rem;
      border: 1px solid #E0E0E0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    &__files {
      background-color: #EFEFEF;
      min-height: 25rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: .5rem;

      > i {
        font-size: 4rem;
        color: #C4C4C4;
      }
      p, span {
        font-size: 1.1rem;
        font-weight: 300;
        color: #7D7D7D;
      }
      p {
        margin-bottom: 0;
      }
      span {
        font-size: .9rem;

        i {
          display: inline-block;
          margin-right: .5rem;
          transform: translateY(3px);
        }
      }
      .e-btn {
        margin: 1rem 0;
      }
    }
    &__options {
      width: 100%;
      display: flex;
      margin-bottom: 2rem;
      margin-top: 1rem;

      .select {
        margin-right: 1rem;
        display: flex;
        align-items: center;

        span {
          margin-right: .5rem;
        }
      }
    }
  }
  &__status {
    display: flex;
    margin: 2rem 0;

    .item {
      background-color: #EFEFEF;
      border-radius: .85rem;
      margin-right: 1rem;
      padding: 1.5rem 1rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      width: 10rem;
      cursor: pointer;
      color: #C4C4C4;

      p {
        font-size: 3.5rem;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 0;
        color: $g-secondary;
      }
      span {
        color: $g-text-dark;
      }
      i {
        position: absolute;
        top: .6rem;
        right: .6rem;
        font-size: 1.2rem;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__table {
    .btn-center {
      text-align: center;
      padding: 2rem 1rem;

      .e-btn {
        margin: 0 .5rem;
        padding-left: 3rem;
        padding-right: 3rem;
      }
    }
    .error {
      color: $g-error;
    }
  }
}