.c-room-create {
  padding: 2rem 0;

  &__options {
    display: flex;
  }
  &__form {
    box-shadow: 1px 1px 6px 1px rgba(30, 6, 75, 0.15);
    border-radius: 6px;

    .body {
      padding: 1rem;
    }
    .header {
      background-color: $g-secondary;
      color: white;
      display: flex;
      font-size: 1.2rem;
      box-shadow: 1px 1px 10px 1px rgba(30, 6, 75, 0.15);
      
      .icon-left {
        background-color: white;
        color: $g-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .5rem;

        &:hover {
          text-decoration: none;
        }
      }
      span {
        text-align: center;
        width: 100%;
        display:  block;
        padding: .5rem;
        text-transform: uppercase;
      }
    }
  }
  .input__label {
    color: $g-secondary;
    font-weight: 500;
  }
  &__tematic {
    >   span {
      display: block;
      margin-bottom: .5rem;
      color: $g-secondary;
      font-weight: 500;
    }
  }
  &__rules {
    .rule {
      margin-top: 1rem;
    }
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: .5rem;
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
    text-align: center;
    background-color: #EFEFEF;
    cursor: pointer;

    span {
      font-size: .8rem;
      margin: .5rem;
    }
    input {
      display: none;
    }
    .btn {
      background-color: #404040;
      color: white;
      padding: .5rem;
      display: flex;
      align-items: center;
      border-radius: 3rem;
      margin-top: 2.5rem;
      margin-bottom: 1rem;
  
      i {
        margin-right: .5rem;
        display: flex;
      }
    }
  }
  &__preview {
    box-shadow: 1px 1px 6px 1px rgba(30, 6, 75, 0.15);
    padding: 1.5rem 1rem 2rem;
    border-radius: 16px;

    > span {
      display: block;
      color: $g-secondary;
      font-weight: 500;
      margin-bottom: 1rem;
    }
    .card {
      border: 1px solid rgba(30, 6, 75, 0.15);
      border-radius: 16px;
      max-width: 20rem;
      margin: 0 auto;

      .header {
        border-radius: 16px;
        background-color: #E0E0E0;
        position: relative;
        overflow: hidden;

        .tag, .tag-date {
          position: absolute;
          top: 1rem;
          font-size: .8rem;
        }
        .tag {
          left: 1rem;
          background-color: white;
          display: inline-block;
          padding: .3rem .5rem;
          border-radius: 2rem;
          color: $g-secondary;

          i {
            margin-right: .3rem;
          }
        }
        .tag-date {
          right: 1rem;
          border-radius: 2rem;
          background-color: white;
          color: $g-secondary;
          padding: .5rem 1rem;
          text-align: center;

          p {
            margin-bottom: 0;
            font-weight: 600;
            font-size: 1.2rem;
          }
        }
        img {
          width: 100%;
          height: 12rem;
          object-fit: cover;
        }
        .title {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          color: white;
          padding: .6rem 1rem 1.4rem;

          img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: bottom;
            filter: blur(4px);
          }
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#aaa, .3);
            z-index: 1;
          }
          span {
            position: relative;
            z-index: 2;
            font-size: 1.2rem;
            font-weight: 600;
          }
        }
      }
      .body {
        padding: 1rem;
        color: $g-secondary;

        p {
          margin-bottom: 0;
        }
      }
      .footer {
        padding: 1rem;
        color: $g-secondary;
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        font-weight: 600;

        i {
          margin-right: .5rem;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}