.c-emotion-room-table {
  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.3rem;
    height: 1.3rem;
    border: 2px solid $g-secondary;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    color: transparent;
    cursor: pointer;
    margin-right: .5rem;

    &.active {
      background-color: $g-secondary;
      color: white;
    }
  }
  &__open {
    color: #7D7D7D;
    font-size: 1.5rem;
  }
}