.c-history-table {
  .gray {
    padding-left: 1rem;
  }
  .c-table {
    &__body {
      .cell {
        i {
          color: #7D7D7D;
          font-size: 1.2rem;
        }
      }   
    }
  }
  &__state {
    span {
      width: .8rem;
      height: .8rem;
      display: block;
      background-color: #7D7D7D;
      margin-right: .5rem;
      border-radius: 50%;

      &.success {
        background-color: #5bd76f;
      }
      &.error {
        background-color: #ff5656;
      }
      &.warning {
        background-color: #ffbe40;
      }
    }
  }
  &__case {
    align-items: center;
    cursor: pointer;
    
    i {
      font-size: 1rem;
      margin-right: .5rem;
      transform: translateY(2px);
      transition: all .3s;
    }
    &.active {
      i {
        transform: translateY(-2px) rotateX(180deg);
      }
    }
  }
}