.c-login-form {
  background-color: rgba(white, 0.3);
  padding: 1.5rem 1.5rem 1rem;
  border-radius: 24px;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
  }
  &__link {
    display: block;
    color: white;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 300;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
  .e-btn {
    margin-top: 2rem;
  }

  &--recover {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .e-btn {
      margin-top: 1rem;
      padding: 0.5rem 1.5rem;
    }
  }
}
