.c-modal {
  .vm--modal {
    padding: 2rem;
    border-radius: 24px;
  }
  &--option {
    .vm--modal {
      border-radius: .5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      text-align: center;

      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 1.5rem;
        background-color: $g-secondary;
      }
      i {
        position: absolute;
        top: 2rem;
        right: .7rem;
        color: #EFEFEF;
        font-size: 1.5rem;
        cursor: pointer;
      }
      img {
        width: 15rem;
        margin: 2rem 0;
      }
      h2 {
        color: $g-secondary;
        font-weight: 500;
        max-width: 200px;
      }
      p {
        margin-bottom: 2rem;
        font-size: 1.1rem;
        max-width: 230px;
      }
    }
  }
}
