.c-mottivateca-create {
  margin: 1rem auto;
  background-color: white;
  box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
  border-radius: 12px;
  max-width: 1000px;
  overflow:hidden;

  &--detail {
    max-width: 800px;

    .c-mottivateca-create__form {
      p {
        font-weight: 300;
        margin-bottom: 0;
      }
      span {
        color: $g-secondary;
        margin-bottom: .5rem;
        display: block;
      }
    }
  }

  &__header {
    background-color: $g-secondary;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);

    h3 {
      margin: 0;
      text-align: center;
      font-weight: 600;
      width: 100%;
    }
    i {
      font-size: 1.1rem;
      padding: .7rem;
      background-color: white;
      color: $g-secondary;
      cursor: pointer;
    }
  }
  &__body {
    padding: 1.5rem;

    .ed-grid {
      margin: 0;
      width: 100%;
    }
    .selects {
      display: flex;
      justify-content: space-between;

      .input-regular {
        max-width: 5rem;
      }
    }
    .m-cols-2, .m-cols-1 {
      margin: .5rem 0;
    }
    textarea {
      min-height: 10.5rem;
    }
  }
  &__types {
    background-color: #EFEFEF;
    border-radius: 12px;
    overflow: hidden;

    > span {
      background-color: #404040;
      color: white;
      display: block;
      text-align: center;
      padding: .7rem .5rem;
      font-size: 1.1rem;
    }
    ul {
      padding-left: 0;
      list-style: none;
      margin-bottom: 0;
      padding: 2rem 0;

      li {
        padding: .5rem;

        &.active {
          >div {
            background-color: $g-primary;
            color: $g-text-lighter;
          }
        }

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: white;
          border-radius: 10px;
          padding: 1rem;
          max-width: 120px;
          margin: 0 auto;
          cursor: pointer;

          i {
            font-size: 1.7rem;
          }
        }
      }
    }
  }
  &__form {
    .input-file {
      .label {
        margin-bottom: .5rem;
        display: block;
      }
      &__content {
        background-color: #efefef;
        font-size: 0.9rem;
        width: 135px;
        height: 240px;
        border-radius: 4px;
        color: #7d7d7d;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 3rem 1rem 1rem;
        cursor: pointer;

        span {
          background-color: #404040;
          color: white;
          display: inline-block;
          border-radius: 3rem;
          padding: 0.5rem 1rem;
          font-size: 1rem;

          i {
            margin-right: .5rem;
          }
        }
        p {
          margin-bottom: 0;
          margin-top: 2rem;
          text-align: center;
          font-weight: 300;
        }
        input {
          display: none;
        }
      }
    }
    .c-video {
      display: block;
      
      > span {
        display: block;
        margin-bottom: .5rem;
      }
      &__input {
        background-color: #efefef;
        display: flex;
        align-items: center;
        padding: .4rem;
        border-radius: .5rem;
        cursor: pointer;

        p {
          margin-bottom: 0;
          font-size: .9rem;
          font-weight: 300;
          padding-left: 1rem;
        }
        span {
          display: inline-block;
          padding: .5rem 1rem;
          background-color: #404040;
          color: white;
          border-radius: 3rem;
        }
      }
      input {
        display: none;
      }
      &--detail {
        &__input {
          background-color: $g-secondary;
          padding: 1rem;
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;
          border-radius: .5rem;

          span {
            color: white;
            margin-bottom: 0;
          }
        }
        video {
          border-radius: .5rem;
        }
      }
    }
  }
}