.c-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;

  > a {
    img {
      display: block;
      margin: 1rem auto 1.2rem;
      min-height: 10px;
      max-height: 45px;
      transition: all .3s;
    }
  }
  i {
    display: flex;
    align-items: center;
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;

    li {
      a {
        color: white;
        display: flex;
        padding: 0.8rem 1rem;
        border-radius: 6px;
        transition: all 0.3s;
        font-weight: 300;
        font-size: 1rem;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            187.36deg,
            #16be99 12.05%,
            #11698e 87.9%,
            #11698e 115.72%
          );
          opacity: 0;
          transition: all 0.3s;
        }
        &:hover {
          text-decoration: none;

          &:before {
            opacity: 1;
          }
        }

        i {
          margin-right: 0.7rem;
        }
        i,
        span {
          white-space:nowrap;
          position: relative;
        }
      }
    }
  }
  &__footer {
    margin-top: auto;
  }
}
