.c-options-case {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  
    .m-cols-5 {
      padding-top: 0;
    }
  
    h3 {
      color: $g-secondary;
      font-size: 2rem;
      font-weight: 600;
      display: flex;
      align-items: center;
  
      span {
        font-weight: 500;
        font-size: 1.7rem;
        margin-left: 1rem;
      }
    }
    &__buttons {
      margin-bottom: 2rem;
      .e-btn {
        margin-right: 1rem;
      }
    }
    .icon-back_ico {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      background-color: $g-secondary;
      color: white;
      border-radius: 50%;
      margin-right: auto;
      cursor: pointer;
    }
  }