.c-protocole-case {
  &__options {
    display: flex;
    align-items: center;

    > div {
      margin-right: 1rem;
    }

    .c-search {
      margin-bottom: 0;
    }
  }
  &__table .c-table__body{
    color: #7D7D7D;
  }
}