.c-recover-pass {
  color: $g-text-darker;
  align-items: center;

  > i {
    background-color: $g-primary;
    color: white;
    display: flex;
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto;
  }

  p {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    span {
      font-weight: 400;
      display: block;
    }
  }
}
