.c-search {
  display: flex;
  align-items: center;
  padding: 0.6rem 2.5rem 0.6rem 1rem;
  border-radius: 24px;
  width: 150px;
  position: relative;
  box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
  transition: all 0.3s;

  &.active {
    width: 300px;
  }
  i {
    position: absolute;
    right: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    font-size: 1.3rem;
  }
}
