.c-session-table {
  &__status {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: white;
    margin-left: 1rem;
    margin-right: 2rem;
    flex-shrink: 0;

    &.error {
      box-shadow: 0 0 0 0.35rem #ff5656 inset;
    }
    &.regular {
      box-shadow: 0 0 0 0.35rem #c4c4c4 inset;
    }
    &.connect {
      box-shadow: 0 0 0 0.35rem #5bd76f inset;
    }
    &.start {
      background-color: #5bd76f;
    }
    &.soon {
      box-shadow: 0 0 0 0.35rem #ffbe40 inset;
    }
  }
  &__user {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;

    &:before {
      content: "";
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      margin-right: 0.5rem;
      background-color: $g-secondary;
    }
    &.connect:before {
      background-color: #5bd76f;
    }
    &.warning:before {
      background-color: #ffbe40;
    }
    &.error:before {
      background-color: #ff5656;
    }

    i {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
    }
  }
  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.3rem;
    height: 1.3rem;
    border: 2px solid $g-secondary;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    color: transparent;
    cursor: pointer;

    &.active {
      background-color: $g-secondary;
      color: white;
    }
  }
  &__toggle {
    display: flex;
    align-items: center;
    cursor: pointer;

    i {
      display: flex;
      transform: translateY(0.2rem) rotateY(0);
      margin-right: 0.5rem;
      transition: all 0.3s;
    }

    &.active {
      i {
        transform: translateY(0) rotateX(180deg);
      }
    }
  }
  &__notification {
    .error {
      color: $g-error;
    }
    i {
      display: flex;
      width: 1.5rem;
      height: 1.5rem;
      background-color: $g-success;
      align-items: center;
      justify-content: center;
      color: white;
      border-radius: 50%;
      font-size: 0.8rem;
    }
  }
}
