.c-stadistics {
  padding: 1.5rem 2.5rem;

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $g-secondary;
    width: 100%;

    span {
      margin-right: 1rem;
    }
  }
  h2 {
    text-align: center;
    font-weight: 600;
    color: #858C90;
  }
  &__body {
    max-width: 800px;
    margin: 0 auto;

    ul {
      padding-left: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      
      li {
        width: 25%;
        text-align: center;
      }
    }
    .item {
      color: $g-secondary;
      max-width: 8rem;
      margin: 0 auto 5rem;

      p {
        font-size: 1.1rem;
        height: 3.5rem;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        margin-bottom: 1rem;
      }
      .box {
        background-color: $g-secondary;
        color: white;
        display: flex;
        flex-direction: column;
        border-radius: .9rem;
        overflow: hidden;

        i {
          font-size: 3rem;
          margin: 1.7rem 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        span {
          background-color: #19456B;
          padding: .5rem;
          font-size: 1.2rem;
        }
      }
      > span {
        display: block;
        margin-top: 1rem;

        b {
          display: block;
          font-weight: 500;
          font-size: 1.3rem;
        }
      }
    }
  }
}