.c-table {
  .ed-grid.m-grid-9 {
    grid-template-columns: repeat(9, calc((100% - 1rem * 8) / 9));
    column-gap: 1rem;
  }
  .ed-grid.m-grid-10 {
    grid-template-columns: repeat(10, calc((100% - 1rem * 9) / 10));
    column-gap: 1rem;
  }
  .ed-grid.m-grid-12 {
    grid-template-columns: repeat(12, calc((100% - 1rem * 11) / 12));
    column-gap: 1rem;
  }
  .ed-grid.m-grid-13 {
    grid-template-columns: repeat(13, calc((100% - 1rem * 12) / 13));
    column-gap: 2rem;
  }
  .ed-grid.m-grid-16 {
    grid-template-columns: repeat(16, calc((100% - 1rem * 15) / 16));
    column-gap: 2rem;
  }
  .ed-grid.m-grid-6 {
    grid-template-columns: repeat(6, calc((100% - 1rem * 5) / 6));
    column-gap: 1rem;
  }
  .ed-grid.m-grid-7 {
    grid-template-columns: repeat(7, calc((100% - 1rem * 6) / 7));
    column-gap: 3rem;
  }
  &__head {
    color: $g-secondary;
    font-weight: 600;
    padding: 1rem 0;
  }
  &__body {
    font-size: 13px;
    font-weight: 300;
    color: #404040;

    .cell {
      padding: 1rem 0;
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: .5rem;
        height: 100%;
      }
      &.error:before {
        background-color: #ff5656;
      }
      &.regular:before {
        background-color: #c4c4c4;
      }
      &.connect:before {
        background-color: #5bd76f;
      }
      &.start:before {
        background-color: #5bd76f;
      }
      &.soon:before {
        background-color: #ffbe40;
      }
      &.gray:before {
        background-color: #7D7D7D;
      }
      &.gray-light:before {
        width: .4rem;
        background-color: #EFEFEF;
      }
      &.gray-light {
        padding-left: 1rem;
      }
    }
    .row {
      border-top: 1px solid #efefef;

      &:last-child {
        border-bottom: 1px solid #efefef;
      }
    }
  }
  .center {
    text-align: center;

    .cell {
      justify-content: center;
    }
  }
  .right {
    text-align: right;

    .cell {
      justify-content: right;
    }
  }
  &--rounded {
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;

    .row {
      .m-cols-1:first-child {
        padding-left: 0.5rem;
      }
      .m-cols-1:last-child {
        padding-right: 0.5rem;
      }
    }
  }
  &--rounded &__head {
    background-color: #efefef;

    .m-cols-1:first-child {
      padding-left: 0.5rem;
    }
    .m-cols-1:last-child {
      padding-right: 0.5rem;
    }
  }
}
