<template lang="pug">
  .c-sessions
    .ed-grid.m-grid-6
      .m-cols-4(style="margin-top:-3rem")
        .c-history__options
          .c-history__filters
          .e-btn.e-btn--rounded.e-btn--small.e-btn--white.e-btn--secondary.e-btn--icon
            i.icon-rango_fechas_ico
          //-.e-btn.e-btn--rounded.e-btn--secondary.e-btn--small.e-btn--white Rango de fechas
            select-input.white(
              v-model="data.month"
              :elements="filters.months"
              @input="changeCurrentMonths;search()"
              :placeholder="currentFilters.month"
            )
            select-input.white(
              :elements="filters.departaments"
              @input="changeCurrentDepartments;search()"
              :placeholder="currentFilters.departament"
            )
          select-input.white(
            v-model="data.institution"
            :elements="filters.institutions"
            @input="changeCurrentInstitutions;search()"
            :placeholder="currentFilters.institution"
          )
          .c-search(
            style="margin-top:1.5rem"
            v-click-outside="hide"
            @click="toggleSearch = true"
            :class="toggleSearch ? 'active': ''"
          )
            input(
              v-model="data.search"
              name="search"
              type="text"
              placeholder="Buscar"
              @change="search"
            )
            i.icon-buscar_ico
          select-input.white(
            v-model="data.rankAge"
            :elements="filters.rankAges"
            @input="changeCurrentRankAges;search()"
            :placeholder="currentFilters.rankAge"
            @change="search"
          )
          select-input.white(
            v-model="data.session"
            :elements="filters.sessions"
            @input="changeCurrentSessions;search()"
            :placeholder="currentFilters.session"
            @change="search"
          )
      .m-cols-2
        legend-table.c-history__legend
          ul.primary
            li.connect Finalizado
            li.soon En curso
            li.error Trunco
      .m-cols-6
        patient-table(
          :patients="S_PATIENTS"
        )
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    patientTable: () => import('@/components/03-organism/patientsTable/default'),
    legendTable: () => import('@/components/01-atomo/legendTable/default'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        month: null,
        institution: null,
        search: null,
        rankAge: null,
        session: null
      },
      toggleSearch: false,
      currentOption: 'today',
      position: 'all',
      positionOptions: [
        {
          name: 'Todo',
          value: 'all'
        },
        {
          name: 'Mi gestión',
          value: 'my-gestion'
        }
      ],
      filters: {
        months: [
          {
            name: 'Enero',
            value: '1'
          },
          {
            name: 'Febrero',
            value: '2'
          },
          {
            name: 'Marzo',
            value: '3'
          },
          {
            name: 'Abril',
            value: '4'
          },
          {
            name: 'Mayo',
            value: '5'
          },
          {
            name: 'Junio',
            value: '6'
          },
          {
            name: 'Julio',
            value: '7'
          },
          {
            name: 'Agosto',
            value: '8'
          },
          {
            name: 'Septiembre',
            value: '9'
          },
          {
            name: 'Octumbre',
            value: '10'
          },
          {
            name: 'Nobiembre',
            value: '11'
          },
          {
            name: 'Dicimebre',
            value: '12'
          }
        ],
        departaments: [
          {
            name: 'Amazonas',
            value: 'Amazonas'
          },
          {
            name: 'Ancash',
            value: 'Ancash'
          },
          {
            name: 'Apurímac',
            value: 'Apurímac'
          },
          {
            name: 'Arequipa',
            value: 'Arequipa'
          },
          {
            name: 'Ayacucho',
            value: 'Ayacucho'
          },
          {
            name: 'Cajamarca',
            value: 'Cajamarca'
          },
          {
            name: 'Callao',
            value: 'Callao'
          },
          {
            name: 'Cusco',
            value: 'Cusco'
          },
          {
            name: 'Huancavelica',
            value: 'Huancavelica'
          },
          {
            name: 'Huánuco',
            value: 'Huánuco'
          },
          {
            name: 'Junín',
            value: 'Junín'
          },
          {
            name: 'La Libertad',
            value: 'La Libertad'
          },
          {
            name: 'Lima',
            value: 'Lima'
          },
          {
            name: 'Loreto',
            value: 'Loreto'
          },
          {
            name: 'Madre de Dios',
            value: 'Madre de Dios'
          },
          {
            name: 'Moquegua',
            value: 'Moquegua'
          },
          {
            name: 'Pasco',
            value: 'Pasco'
          },
          {
            name: 'Piura',
            value: 'Piura'
          },
          {
            name: 'Puno',
            value: 'Puno'
          },
          {
            name: 'San Martín',
            value: 'San Martín'
          },
          {
            name: 'Tacna',
            value: 'Tacna'
          },
          {
            name: 'Tumbes',
            value: 'Tumbes'
          },
          {
            name: 'Ucayali',
            value: 'Ucayali'
          }
        ],
        institutions: [],
        rankAges: [
          {
            name: '18-25',
            value: '18-25'
          },
          {
            name: '25-35',
            value: '25-35'
          },
          {
            name: '35-60',
            value: '35-60'
          }
        ],
        sessions: [
          {
            name: 'Uno',
            value: '1'
          },
          {
            name: 'Dos',
            value: '2'
          },
          {
            name: 'Tres',
            value: '3'
          },
          {
            name: 'Cuatro',
            value: '4'
          },
          {
            name: 'Cinco',
            value: '5'
          },
          {
            name: 'Seis',
            value: '6'
          }
        ]
      },
      currentFilters: {
        month: {
          name: 'Mes',
          value: null
        },
        departament: {
          name: 'Departamento',
          value: null
        },
        institution: {
          name: 'Institución',
          value: null
        },
        rankAge: {
          name: 'Rango de Edad',
          value: null
        },
        session: {
          name: 'Sesiones',
          value: null
        }
      }
    }
  },

  computed: {
    ...mapState({
      S_PATIENTS: state => state.Patients.S_PATIENTS
    })
  },

  watch: {},
  async created () {
    await this.A_GET_PATIENTS()
    const institutions = await this.A_GET_INSTITUTIONS({ type: 2 })
    this.filters.institutions = institutions.map(el => ({ name: el.name, value: String(el.id) }))
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_PATIENTS: 'Patients/A_GET_PATIENTS',
      A_GET_INSTITUTIONS: 'Institution/A_GET_INSTITUTIONS'
    }),
    changeCurrentMonths (e) {
      this.currentFilters.month = e
    },
    changeCurrentDepartments (e) {
      this.currentFilters.departament = e
    },
    changeCurrentInstitutions (e) {
      this.currentFilters.institution = e
    },
    changeCurrentRankAges (e) {
      this.currentFilters.rankAge = e
    },
    changeCurrentSessions (e) {
      this.currentFilters.session = e
    },
    hide () {
      this.toggleSearch = false
    },
    changeSwitch (e) {
      this.position = e
    },
    async search () {
      try {
        let rankAge = [null, null]
        if (this.data.rankAge.value) {
          rankAge = this.data.rankAge.value.split('-')
        }
        const params = {
          age_range_min: rankAge[0],
          age_range_max: rankAge[1]
        }
        params.search = this.data.search
        if (this.data.month) {
          params.month = this.data.month.value
        }
        if (this.data.departament) {
          params.departament = this.data.departament.value
        }
        if (this.data.institution) {
          params.institution = this.data.institution.value
        }
        if (this.data.session) {
          params.sessions = this.data.session.value
        }
        await this.A_GET_PATIENTS(params)
      } catch (error) {
        console.log('Something went error', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
