<template lang="pug">
  .c-chat(style="margin: 24px; background: #EFEFEF; border-radius: 8px; padding: 12px;")
    .card-body
      .card-body
        .ed-grid.m-grid-5
          .m-cols-2
            .c-search(
              :class="toggleSearch ? 'active': ''"
            )
              input(
                type="text"
                placeholder="Buscar"
                v-model="currentFilters.reference"
                @keyup="getByReference"
              )
              i.icon-buscar_ico
            .conversations(style="overflow:auto; height: 80vh;")
              .messages(
                v-for="(item, index) in S_CHATS")
                div(
                  @click="currentItem = item; toggleChat()"
                  style="display:flex; align-items:center; margin-top: 16px; background: white; border-radius: 8px; padding:16px 8px;"
                  :class="(currentItem && currentItem.id === item.id)? 'chat-active' : ''"
                  )
                  img(
                    v-if="item.ChatParticipant.Profile.tbl_role_id === 2"
                    style="margin-left: 8px;"
                    src="@/assets/images/icon_psicologist.png"
                  )
                  img(
                    v-if="item.ChatParticipant.Profile.tbl_role_id === 1"
                    style="margin-left: 8px;"
                    src="@/assets/images/icon_patient.png"
                  )
                  img(
                    style="width: 64px; height=auto; margin: 0 12px;"
                    :src="item.ChatParticipant.Profile.Avatar.image"
                  )
                  div( style="flex: 1;")
                    .font-weight-bold.c-table__head(style="padding: 0px;") {{ item.ChatParticipant.Profile.firstname }}
                    .font-weight-bold(
                      v-if="item.lastMessage.message"
                    ) {{ item.lastMessage.message.substring(0,20) + '...' }}
                  div(style="text-align:center; color: #CCC; margin-left:8px;")
                    span {{ $moment(item.lastMessage.created_at, 'YYYY-MM-DDTHH:mm:ss Z').format('MM/DD') }}
                    span(style="display:block") {{ $moment(item.lastMessage.created_at, 'YYYY-MM-DDTHH:mm:ss Z').format('H:mm') }}
                    span.c-table__head(style="display:none; background: #EFEFEF; text-align:center; padding: 6px 8px; border-radius: 4px; margin-top: 12px;") 4
          .m-cols-3(style="display:flex;")
            div(
              style="background: #EDF1FF; border-radius:8px; display: flex; flex: 1; flex-direction: column; height: 80vh"
              )
              div(
                v-if="!active"
                style="text-align: center; margin:auto;"
                )
                h3.c-table__head(style="margin: auto; display: block;") Hola de nuevo
                span Seleccionar un chat para comenzar
              div(
                v-if="active"
                style="display:flex; align-items:center; background: white; padding: 8px; border-radius: 8px;")
                img(
                  style="width: 32px; height=auto; margin: 0 12px;"
                  :src="currentItem.ChatParticipant.Profile.Avatar.image"
                )
                span(style="flex: 1") {{ currentItem.ChatParticipant.Profile.firstname }}
              .conversation(
                v-if="active"
                style="overflow: auto; border-radius: 8px; flex:1; margin:12px; padding: 8px; ")
                ul(style="list-style: none; padding: 0; margin:0;")
                  li(
                    style="list-style: none; padding: 0; margin:0; display:block; clear:both; overflow: auto;"
                    v-for="(item, key) in messages"
                  )
                    span(
                      style="display:inline-block; background: white; padding: 8px; border-radius: 8px; margin: 4px; font-size: 80%; color: #006AB6"
                      v-if="item.type === 'in'"
                    ) {{ item.message }}
                    span(
                      style="float: right; display:inline-block; background: white; padding: 8px; border-radius: 8px; margin: 4px; font-size: 80%; color: #006AB6"
                      v-if="item.type === 'out'"
                    ) {{ item.message }}
              div(
                v-if="active"
                style="padding: 12px; background: white; border-radius: 8px;")
                input-text(
                  v-if="assigned"
                  type="text"
                  v-model="message"
                  placeholder="Escribir mensaje"
                  v-on:keyup.enter.native="sendMessage"
                )
                div(
                  v-if="!assigned"
                  style="text-align: center")
                  .e-btn.e-btn--small(
                    @click="joinChatHelpdesk"
                    style="margin:auto")
                    span Asignarme
</template>

<script>
import io from 'socket.io-client'
import { mapActions, mapState } from 'vuex'
import jwtDecode from 'jwt-decode'
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      user: 'Mesa ayuda',
      message: '',
      messages: [],
      socket: io('https://api.mottiva.pe:3000'),
      toggleSearch: true,
      currentFilters: {
        reference: ''
      },
      active: false,
      assigned: false,
      currentChat: null,
      currentItem: null
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
    ...mapState({
      S_CHATS: state => state.Chat.S_CHATS
    })
  },

  watch: {},
  created () {
    const profile = jwtDecode(this.$cookies.get('AUTH_TOKEN'))
    this.user = profile.user.firstname
    this.A_GET_CHATS(this.currentFilters.reference)
    this.socket.connect()
    this.socket.emit('joinHelpdesk', {})
  },
  mounted () {
    this.socket.on('newHelpdesk', (data) => {
      this.A_GET_CHATS(this.currentFilters.reference)
    })
    this.socket.on('messageToUser', (data) => {
      let type = 'in'
      if (data.idSocket === this.socket.id) {
        type = 'out'
      }
      if (data.to === 'helpdesk-' + this.currentChat.id) {
        this.messages = [...this.messages, {
          message: data.message,
          type: type
        }]
      }
    })
  },
  updated () {
    this.$nextTick(() => this.scrollToEnd())
  },
  methods: {
    ...mapActions({
      A_GET_CHATS: 'Chat/A_GET_CHATS',
      A_JOIN_CHAT: 'Chat/A_JOIN_CHAT',
      A_GET_CHAT: 'Chat/A_GET_CHAT',
      A_POST_MESSAGE: 'Chat/A_POST_MESSAGE'
    }),
    sendMessage (e) {
      e.preventDefault()
      this.socket.emit('messageToRoom', {
        roomName: 'helpdesk-' + this.currentChat.id,
        author: this.user,
        message: this.message
      })
      const params = {
        id: this.currentChat.ChatParticipant.id,
        message: this.message
      }
      this.message = ''
      this.A_POST_MESSAGE(params)
      this.A_GET_CHATS(this.currentFilters.reference)
    },
    getByReference (e) {
      if (e.keyCode === 13) {
        this.A_GET_CHATS(this.currentFilters.reference)
      }
    },
    async toggleChat () {
      if (this.currentItem.ChatParticipantHelpdesk === null) {
        this.active = true
        this.assigned = false
        this.messages = []
      } else {
        this.active = true
        this.assigned = true
        this.currentChat = await this.A_GET_CHAT(this.currentItem.id)
        this.initChat()
      }
    },
    initChat () {
      this.messages = this.currentChat.messages
      const roomName = 'helpdesk-' + this.currentChat.id
      this.socket.emit('joinRoom', { roomName: roomName })
      this.A_GET_CHATS(this.currentFilters.reference)
    },
    async joinChatHelpdesk () {
      this.currentChat = await this.A_JOIN_CHAT(this.currentItem.id)
      this.assigned = true
      this.initChat()
    },
    scrollToEnd () {
      const container = this.$el.querySelector('.conversation')
      container.scrollTop = container.scrollHeight - container.clientHeight
    }
  }
}
</script>

<style lang="css" scoped>
.chat-active{
  background-color: rgb(237, 241, 255) !important;
}
</style>
