<template lang="pug">
  .c-table.c-session-table
    .c-table__head.ed-grid.m-grid-10
      //- Header
      .m-cols-3 Status
      .m-cols-1.center H. actual
      .m-cols-1.center T. restante
      .m-cols-1 Paciente
      .m-cols-1 Psicólogo
      .m-cols-1.center Asignarme
      .m-cols-1.center Sesión
      .m-cols-1 Nofiticación
    .c-table__body
      //- Body
      session-table-row(
        v-for="(session, key) in S_SESSIONS"
        :key="key"
        :session="session"
        :socket="socket"
      )
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    sessionTableRow: () => import('@/components/02-molecule/sessionTable/row')
  },
  props: {
    // propierty: { required: false, type: String },
    socket: {
      type: Object
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    ...mapState({
      S_SESSIONS: state => state.Sessions.S_SESSIONS
    })
  },
  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_SESSIONS: 'Sessions/A_GET_SESSIONS'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
