<template lang="pug">
  .c-table.c-history-table
    .c-table__head.ed-grid.m-grid-6
      //- Header
      .m-cols-1 Fecha
      .m-cols-1.center Hora
      .m-cols-1.center Categoria
      .m-cols-1 Involucrado
      .m-cols-1.center Caso
      .m-cols-1 Último gestor M.A.
    .c-table__body
      //- Body
      history-table-row(
        v-for="(row, key) in S_BLOCKEDS"
        :key="key"
        :history="row"
      )
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    historyTableRow: () => import('@/components/02-molecule/rowBlocked/row')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    ...mapState({
      S_BLOCKEDS: state => state.Blocked.S_BLOCKEDS
    })
  },

  watch: {},
  created () {
    this.A_GET_BLOCKEDS()
    console.log(this.S_BLOCKEDS)
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_BLOCKEDS: 'Blocked/A_GET_BLOCKEDS'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
