<template lang="pug">
  .c-creator
    .c-creator__options
      router-link(:to="{ name: 'CreatorInstitutionPage' }").e-btn.e-btn--rounded.e-btn--white.e-btn--secondary.e-btn--small Crear institución
      router-link(:to="{ name: 'CreatorSavePage' }").e-btn.e-btn--rounded.e-btn--white.e-btn--secondary.e-btn--small.e-btn--icon
        i.icon-subir_ico
        | Subir usuarios
    validation-observer(
      ref="observer"
      v-slot="{ handleSubmit }"
      tag="form"
      @submit.prevent
    ).c-creator-user
      h2 Crear nuevo usuario
      .ed-grid.m-grid-5
        .m-cols-3
          .c-creator__form.ed-grid.m-grid-4
            .m-cols-4
              h3 Datos*
            .m-cols-1
              input-text(
                label="Nombres:"
                type="text"
                rules="required"
                inputStyle="input-regular--column full"
                name="name"
                v-model="data.firstname"
                placeholder=""
              )
            .m-cols-1
              input-text(
                label="Apellidos:"
                type="text"
                rules="required"
                inputStyle="input-regular--column full"
                name="name"
                v-model="data.lastname"
                placeholder=""
              )
            .m-cols-2
              input-text(
                label="Fecha de nacimiento:"
                type="date"
                rules="required"
                inputStyle="input-regular--column full"
                name="name"
                v-model="data.birthday"
                placeholder=""
              )
            .m-cols-1
              select-input(
                label="Género"
                inputStyle="white"
                name="gender"
                rules="required"
                v-model="data.gender"
                :elements="filters.gender"
                @input="changeCurrentEmotion()"
                :placeholder="currentFilters.emotions"
              )
            .m-cols-1
              input-text(
                label="Número de DNI:"
                type="number"
                rules="required"
                inputStyle="input-regular--column full"
                name="name"
                v-model="data.dni"
                placeholder=""
              )
            .m-cols-1
              input-text(
                label="Número de celular:"
                type="number"
                rules="required"
                inputStyle="input-regular--column full"
                name="name"
                v-model="data.phone"
                placeholder=""
              )
            .m-cols-1
              select-input(
                label="Rol del usuario"
                inputStyle="white"
                v-model="data.role"
                rules="required"
                :elements="filters.role"
                @input="changeCurrentEmotion()"
                :placeholder="currentFilters.emotions"
              )
            .m-cols-4
              h3 Acceso*
            .m-cols-1
              input-text(
                label="Usuario/Correo"
                type="email"
                rules="required"
                inputStyle="input-regular--column full"
                name="name"
                v-model="data.email"
                placeholder=""
              )
            .m-cols-1
              input-text(
                label="Contraseña"
                type="text"
                rules="required"
                inputStyle="input-regular--column full"
                name="name"
                v-model="data.password"
                placeholder=""
              )
            .m-cols-1.buttons
              a.e-btn.e-btn--small.e-btn--icon.e-btn--secondary(
                @click="generatePassword()"
              ) Generar
                i.icon-clave_ico
        .m-cols-1
          .c-creator__image
            label
              input(
                type="file"
                accept="image/png, image/jpeg"
                @change="onFilePicked"
              )
              p Foto formal
              img(
                :src="image.url || require('@/assets/images/profile-input.svg')"
              )
              i.icon-camera(
                v-if="!image.url"
              )
            i.icon-trash(
              v-if="image.url"
              @click="resetImage()"
            )
        .m-cols-2
          a.e-btn.e-btn--secondary.send(
            v-if="!isLoading"
            @click="handleSubmit(onSubmit)"
          ) Crear usuario
          .e-btn.e-btn--secondary.send(
            v-else
          )
            i.icon-loading
        .m-cols-5(
          v-if="message !== ''"
        )
          br
          .o-message.warning {{ message }}
            span.close(
              @click="message = ''"
            )
              i.icon-close
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    inputArea: () => import('@/components/02-molecule/formElements/area'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      image: {
        base: '',
        url: ''
      },
      imageFront: {
        base: '',
        url: ''
      },
      data: {
        firstname: '',
        lastname: '',
        bithday: '',
        dni: '',
        phone: '',
        email: '',
        password: ''
      },
      role: '',
      gender: '',
      filters: {
        role: [
          {
            name: 'Paciente',
            value: 1
          },
          {
            name: 'Psicólogo',
            value: 2
          },
          {
            name: 'Helpdesk',
            value: 3
          }
        ],
        gender: [
          {
            name: 'Masculino',
            value: 'M'
          },
          {
            name: 'Femenino',
            value: 'F'
          }
        ]
      },
      currentFilters: {
        emotions: {
          name: 'Selecciona',
          value: null
        }
      },
      message: '',
      isLoading: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    changeCurrentEmotion (e) {
      this.currentFilters.emotions = e
    },
    onFilePicked (e) {
      const files = e.target.files
      const fileReader = new FileReader()
      fileReader.addEventListener('load', () => {
        this.image.base = fileReader.result
      })
      fileReader.readAsDataURL(files[0])
      this.image.url = URL.createObjectURL(files[0])
    },
    resetImage () {
      this.image.base = ''
      this.image.url = ''
    },
    onFilePickedFront (e) {
      const files = e.target.files
      const fileReader = new FileReader()
      fileReader.addEventListener('load', () => {
        this.imageFront.base = fileReader.result
      })
      fileReader.readAsDataURL(files[0])
      this.imageFront.url = URL.createObjectURL(files[0])
    },
    resetImageFront () {
      this.imageFront.base = ''
      this.imageFront.url = ''
    },
    generatePassword () {
      var generatePassword = (
        length = 10,
        wishlist = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz~!@-#${}[]*'
      ) => Array(length)
        .fill('')
        .map(() => wishlist[Math.floor(crypto.getRandomValues(new Uint32Array(1))[0] / (0xffffffff + 1) * wishlist.length)])
        .join('')

      this.data.password = generatePassword()
    },
    ...mapActions({
      A_SET_PROFILE: 'Profile/A_SET_PROFILE'
    }),
    async onSubmit () {
      this.isLoading = true
      try {
        this.data.role = this.data.role.value
        this.data.gender = this.data.gender.value
        this.data.image = this.image.base
        const profile = await this.A_SET_PROFILE(this.data)
        if (profile) {
          this.isLoading = false
          this.$emit('success', true)
          switch (this.data.role) {
            case 1:
              this.$router.push({ name: 'PatientsPage' })
              break
            case 2:
              this.$router.push({ name: 'PsychologistPage' })
              break
            case 3:
              this.$router.push({ name: 'ManagersPage' })
              break
            default:
              this.$router.push({ name: 'BasePage' })
              break
          }
        }
      } catch (error) {
        console.log(error.status)
        this.message = 'Error de registro ' + error.message
        console.error('LOADING CREATE PROFILE', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
