<template lang="pug">
  validation-observer.c-create-case(
    style="padding: 40px;"
    ref="observer"
    v-slot="{ handleSubmit }"
    tag="form"
    @submit.prevent
  )
    h3 Registrar nuevo caso
    .c-create-case__profile
      .column
        h4 Paciente
        p {{ session.Patient.firstname }}
      .column
        h4 Acciones
        select-input(
          inputStyle="white"
          :elements="filters.actions"
          @input="changeCurrentSelect()"
          v-model="action"
          :placeholder="currentFilters.actions"
        )
    .c-create-case__profile(
      v-if="action.value === 'cancel'"
    )
      .column
        h4 Psicólogo
        p
          b {{ session.Psychologist.firstname + ' ' + session.Psychologist.lastname }}
          br
          span Sesión {{ session.week }}/6
        p Al cancelar el programa se borraran todos los datos de las sesiones del usuario
    .c-create-case__profile(
      style="margin-bottom: 16px;"
      v-if="action.value === 'reschedule' || action.value === 'rescheduleReplace'"
    )
      .column
        h4 Fecha
        date-range-picker(
          ref="picker"
          opens="inline"
          :minDate="$moment((new Date().toJSON()), 'YYYY-MM-DDThh:mm:ss').subtract(5, 'hours').format('YYYY-MM-DD')"
          :locale-data="{ firstDay: 1, format: 'yyyy/mm/dd' }"
          :singleDatePicker="true"
          :ranges="false"
          :timePicker="timePicker"
          :timePicker24Hour="timePicker24Hour"
          v-model="dateRange"
          class="date-picker__input--none"
          v-on:select="blockHours"
        )
      .ed-grid.m-grid-4
        .m-cols-4
          h4 Hora
        .m-cols-4
          .create-case-hours
            template(
              v-for="(hour, i) in hours"
            )
              .hour.m-center(
                :class="data.hour === hour.value ? 'active' : null"
                :disabled="hour.disabled"
                @click="hour.disabled ? null : data.hour = hour.value"
              ) {{ hour.value }}
      //  input-text(
          label=""
          type="time"
          rules="required"
          inputStyle="input-regular--column full"
          name="time"
          v-model="time"
        )
      .column(
        v-if="action.value === 'rescheduleReplace'"
      )
        h4 Psicólogo
        select-input(
              inputStyle="white"
              :elements="G_PSYCHOLOGIST"
              v-model="psychologist"
              @input="changeCurrentEmotion()"
              :placeholder="currentFilters.emotions"
            )
    .label
      h4 Tema
      input-text(
        type="text"
        rules="required"
        inputStyle="input-regular--row full"
        name="theme"
        v-model="theme"
        placeholder=""
      )
    .label
      h4 Motivo
      input-area(
        rules="required"
        name="about"
        v-model="subject"
      )
    .label
      h4 Emociones
      select-input(
        inputStyle="white"
        :elements="filters.emotions"
        v-model="emotion"
        @input="changeCurrentEmotion()"
        :placeholder="currentFilters.emotions"
      )
    .e-btn.e-btn--rounded.e-btn--small(
      @click="submitCase"
    ) Cerrar caso
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

import { mapActions, mapGetters } from 'vuex'
import DateRangePicker from 'vue2-daterange-picker'
import 'vue2-daterange-picker/dist/vue2-daterange-picker.css'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    selectInput: () => import('@/components/02-molecule/formElements/select'),
    inputArea: () => import('@/components/02-molecule/formElements/area'),
    DateRangePicker
  },
  props: {
    // propierty: { required: false, type: String },
    session: {
      type: Object
    }
  },

  data () {
    return {
      data: {
        hour: ''
      },
      timePicker: false,
      timePicker24Hour: false,
      psychologist: '',
      theme: '',
      subject: '',
      filters: {
        actions: [
          {
            name: 'Reagendar',
            value: 'reschedule'
          },
          {
            name: 'Reagendar con otro',
            value: 'rescheduleReplace'
          },
          {
            name: 'Cancelar + bloquear',
            value: 'cancel'
          },
          {
            name: 'Contestó otra persona',
            value: 'anotherPerson'
          },
          {
            name: 'No contestó',
            value: 'notResponse'
          },
          {
            name: 'Sí contestó',
            value: 'response'
          }
        ],
        emotions: [
          {
            name: 'Demo 01',
            value: 1
          },
          {
            name: 'Demo 02',
            value: 2
          }
        ]
      },
      dateRange: {
        startDate: new Date(),
        endDate: new Date()
      },
      hours: [
        { value: '00:30', disabled: false },
        { value: '01:15', disabled: false },
        { value: '02:00', disabled: false },
        { value: '02:45', disabled: false },
        { value: '03:30', disabled: false },
        { value: '04:15', disabled: false },
        { value: '05:00', disabled: false },
        { value: '05:45', disabled: false },
        { value: '06:30', disabled: false },
        { value: '07:15', disabled: false },
        { value: '08:00', disabled: false },
        { value: '08:45', disabled: false },
        { value: '09:30', disabled: false },
        { value: '10:15', disabled: false },
        { value: '11:00', disabled: false },
        { value: '11:45', disabled: false },
        { value: '12:30', disabled: false },
        { value: '13:15', disabled: false },
        { value: '14:00', disabled: false },
        { value: '14:45', disabled: false },
        { value: '15:30', disabled: false },
        { value: '16:15', disabled: false },
        { value: '17:00', disabled: false },
        { value: '17:45', disabled: false },
        { value: '18:30', disabled: false },
        { value: '19:15', disabled: false },
        { value: '20:00', disabled: false },
        { value: '20:45', disabled: false },
        { value: '21:30', disabled: false },
        { value: '22:15', disabled: false },
        { value: '23:00', disabled: false },
        { value: '23:45', disabled: false }
      ],
      currentFilters: {
        actions: {
          name: 'Selecciona',
          value: 0
        },
        emotions: {
          name: 'Selecciona',
          value: 0
        }
      },
      date: '',
      time: '',
      action: {
        name: 'Selecciona',
        value: 0
      },
      emotion: {
        name: 'Selecciona',
        value: 0
      }
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
    ...mapGetters({
      G_PSYCHOLOGIST: 'Psychologist/G_PSYCHOLOGIST'
    }),
    currentAction () {
      return this.currentFilters.actions
    }
  },

  watch: {},
  created () {
    this.A_GET_PSYCHOLOGIST()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_POST_CASE_SESSION: 'Sessions/A_POST_CASE_SESSION',
      A_POST_CASE_CANCEL_SESSION: 'Sessions/A_POST_CASE_CANCEL_SESSION',
      A_POST_CASE_REPLACE_SESSION: 'Sessions/A_POST_CASE_REPLACE_SESSION',
      A_GET_PSYCHOLOGIST: 'Psychologist/A_GET_PSYCHOLOGIST'
    }),
    changeCurrentSelect (e) {
      this.currentFilters.actions = e
    },
    changeCurrentEmotion (e) {
      this.currentFilters.emotions = e
    },
    handleSubmit () {
      console.log('send create case ')
    },
    blockHours () {
      const date = this.$moment((new Date().toJSON()), 'YYYY-MM-DDTHH:mm:ss').subtract(5, 'hours').format('YYYY-MM-DD')
      let picker = this.$moment((new Date().toJSON()), 'YYYY-MM-DDTHH:mm:ss').subtract(5, 'hours').format('YYYY-MM-DD')
      if (this.$refs.picker) {
        picker = this.$moment((new Date(this.$refs.picker.$data.start)).toJSON(), 'YYYY-MM-DD').format('YYYY-MM-DD')
      }
      if (date === picker) {
        const hour = this.$moment((new Date().toJSON()), 'YYYY-MM-DDTHH:mm:ss').subtract(5, 'hours').format('HH:mm')
        this.hours = this.hours.map(el => {
          if (el.value < hour) {
            el.disabled = true
          } else {
            el.disabled = false
          }
          return ({
            value: el.value,
            disabled: el.disabled
          })
        })
      } else {
        this.hours = this.hours.map(el => ({
          value: el.value,
          disabled: false
        }))
      }
    },
    submitCase () {
      console.log('this.$refs.picker', this.$refs.picker)
      let date = this.$moment((new Date()).toJSON(), 'YYYY-MM-DD').format('YYYY-MM-DD')
      if (this.$refs.picker) {
        date = this.$moment((new Date(this.$refs.picker.$data.start)).toJSON(), 'YYYY-MM-DD').format('YYYY-MM-DD')
      }
      const data = {
        idSession: this.session.id,
        action: this.action.value,
        theme: this.theme,
        subject: this.subject,
        emotion: this.emotion.value,
        date: date + ' ' + this.data.hour,
        psychologist: this.psychologist.value
      }
      if (this.action.value === 'rescheduleReplace') {
        this.A_POST_CASE_REPLACE_SESSION(data)
        this.$emit('caseSubmited', data)
      } else if (this.action.value === 'cancel') {
        this.A_POST_CASE_CANCEL_SESSION(data)
        this.$emit('caseSubmited', data)
      } else {
        this.A_POST_CASE_SESSION(data)
        this.$emit('caseSubmited', data)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
