<template lang="pug">
  .c-case-detail
    .c-case-detail__profile
      .column
        h4 Paciente
        p Maria Luchadora H.
      .column
        h4 Acciones
        p Reagendar
    h4 Próxima sesión:
    p.c-case-detail__date
      i.icon-check
      | Mar. 21 Ene. | 12:00 pm.
    h4 Tema
    p Accumsan egestas viverra ac tincidunt. Augue ut potenti porttitor lacus. Odio id volutpat.
    h4 Motivo
    p Parturient ullamcorper elementum pharetra posuere. Amet, convallis leo in vel. Sed posuere ridiculus turpis laoreet consectetur. Nisl consectetur phasellus convallis posuere arcu pulvinar nullam egestas. Eleifend elementum varius ornare nisi sit felis, purus ac fames. Consequat leo.
    h4 Emociones
    p Rojo
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    back () {
      this.$emit('back', 'list')
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
