<template lang="pug">
  .c-case-detail
    .ed-grid.m-grid-5
      .m-cols-2
        h4 Paciente
        p Maria Luchadora H.
      .m-cols-2
        h4 Quién contestó
        p Ella misma
      .m-cols-1
        h4 Desea
        p Reagendar
    h4 Próxima sesión:
    p.c-case-detail__date
      i.icon-check
      | Mar. 21 Ene. | 12:00 pm.
    h4 Situación
    p Accumsan egestas viverra ac tincidunt. Augue ut potenti porttitor lacus. Odio id volutpat.
    h4 Acciones realizadas
    p Tellus ac, convallis sit dui etiam adipiscing. Elit.
    h4 Resolución
    p Mattis parturient velit est nibh ornare id in eu. Cursus quam nec aliquet aenean.
    .ed-grid.m-grid-5
      .m-cols-2
        h4 Tema
        p Pareja en la casa, posible ataque
      .m-cols-2
        h4 Categoría
        p Pareja y golpes
      .m-cols-1
        h4 Subcategoría
        p Casa
      .m-cols-4
        h4 Tipo de llamada
        p No contesto el propietario, resuelto
      .m-cols-1
        h4 Emociones
        p Rojo
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    back () {
      this.$emit('back', 'list')
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
