<template lang="pug">
  .c-benefits
    .ed-grid.m-grid-5
      .m-cols-2
        .c-benefits__options
          router-link(
            :to="{ name: 'BenefitsGestionPage' }"
            exact-active-class="active"
          ).c-benefits__options__item
            span Gestionar
            i.icon-gestion_ico
          router-link(
            :to="{ name: 'BenefitsPage' }"
            exact-active-class="active"
          ).c-benefits__options__item
            span Beneficios
            i.icon-beneficios_ico
      .m-cols-3
        .c-benefits__upload
          .e-btn.e-btn--rounded.e-btn--small.e-btn--icon.e-btn--white.e-btn--secondary
            i.icon-subir_ico
            | Subir nuevo
      .m-cols-5
        benefits-list(:benefits="S_BENEFITS")
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    benefitsList: () => import('@/components/03-organism/benefitsList/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      benefits: [
        {
          points: 2000,
          award: {
            value: 1,
            name: 'GB'
          },
          description: [
            '+ 3 días de llamadas ilimitadas',
            '+ 30 días de Whatsapp'
          ],
          banner: require('@/assets/images/benefit.png'),
          operator: {
            name: 'claro',
            image: require('@/assets/images/benefit_operator.png')
          }
        },
        {
          points: 5000,
          award: {
            value: 2,
            name: 'GB'
          },
          description: [
            '+ 3 días de llamadas ilimitadas',
            '+ 30 días de Whatsapp'
          ],
          banner: require('@/assets/images/benefit.png'),
          operator: {
            name: 'claro',
            image: require('@/assets/images/benefit_operator.png')
          }
        },
        {
          points: 500,
          award: {
            value: 2,
            name: 'GB'
          },
          description: [
            '+ 3 días de llamadas ilimitadas',
            '+ 30 días de Whatsapp'
          ],
          banner: require('@/assets/images/benefit.png'),
          operator: {
            name: 'claro',
            image: require('@/assets/images/benefit_operator.png')
          }
        },
        {
          points: 1000,
          award: {
            value: 500,
            name: 'megas'
          },
          description: [
            '+ 3 días de llamadas ilimitadas',
            '+ 30 días de Whatsapp'
          ],
          banner: require('@/assets/images/benefit.png'),
          operator: {
            name: 'claro',
            image: require('@/assets/images/benefit_operator.png')
          }
        },
        {
          points: 1000,
          award: {
            value: 500,
            name: 'megas'
          },
          description: [
            '+ 3 días de llamadas ilimitadas',
            '+ 30 días de Whatsapp'
          ],
          banner: require('@/assets/images/benefit.png'),
          operator: {
            name: 'claro',
            image: require('@/assets/images/benefit_operator.png')
          }
        }
      ]
    }
  },

  computed: {
    ...mapState({
      S_BENEFITS: state => state.Benefit.S_BENEFITS
    })
  },

  watch: {},
  created () {
    this.A_GET_BENEFITS()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_BENEFITS: 'Benefit/A_GET_BENEFITS'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
