<template lang="pug">
  .c-benefits
    .ed-grid.m-grid-5
      .m-cols-2
        .c-benefits__options
          router-link(
            :to="{ name: 'BenefitsGestionPage' }"
            exact-active-class="active"
          ).c-benefits__options__item
            span Gestionar
            i.icon-gestion_ico
          router-link(
            :to="{ name: 'BenefitsPage' }"
            exact-active-class="active"
          ).c-benefits__options__item
            span Beneficios
            i.icon-beneficios_ico
      .m-cols-3
        legend-table.c-benefits__legend
          ul
            li
              i.icon-beneficios_ok_ico
              | Canjeado
            li
              i.icon-beneficios_pendiente_ico
              | En espera
            li
              i.icon-beneficios_error_ico
              | No aplica
      .m-cols-5
        benefits-table( :cases="data")
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    benefitsTable: () => import('@/components/03-organism/benefitsTable/default'),
    legendTable: () => import('@/components/01-atomo/legendTable/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: [
        {
          patient: {
            firstname: 'Maria Juanita',
            lastname: 'Luchadora Rodriguez',
            phone: '948526987',
            points: 7000,
            operator: 'Bitel'
          },
          plan: '500 MB',
          date: '15/04/2021',
          cost: 500,
          assigned: false,
          voucher: '',
          state: 'success'
        },
        {
          patient: {
            firstname: 'Maria Juanita',
            lastname: 'Luchadora Rodriguez',
            phone: '948526987',
            points: 7000,
            operator: 'Bitel'
          },
          plan: '500 MB',
          date: '15/04/2021',
          cost: 500,
          assigned: false,
          voucher: '',
          state: 'success'
        },
        {
          patient: {
            firstname: 'Maria Juanita',
            lastname: 'Luchadora Rodriguez',
            phone: '948526987',
            points: 7000,
            operator: 'Bitel'
          },
          plan: '500 MB',
          date: '15/04/2021',
          cost: 500,
          assigned: false,
          voucher: '',
          state: 'warning'
        },
        {
          patient: {
            firstname: 'Maria Juanita',
            lastname: 'Luchadora Rodriguez',
            phone: '948526987',
            points: 7000,
            operator: 'Bitel'
          },
          plan: '500 MB',
          date: '15/04/2021',
          cost: 500,
          assigned: false,
          voucher: '',
          state: 'warning'
        },
        {
          patient: {
            firstname: 'Maria Juanita',
            lastname: 'Luchadora Rodriguez',
            phone: '948526987',
            points: 7000,
            operator: 'Bitel'
          },
          plan: '500 MB',
          date: '15/04/2021',
          cost: 500,
          assigned: true,
          voucher: '',
          state: 'default'
        },
        {
          patient: {
            firstname: 'Maria Juanita',
            lastname: 'Luchadora Rodriguez',
            phone: '948526987',
            points: 7000,
            operator: 'Bitel'
          },
          plan: '500 MB',
          date: '15/04/2021',
          cost: 500,
          assigned: true,
          voucher: '',
          state: 'default'
        }
      ]
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
