<template lang="pug">
  .c-case-row.ed-grid.m-grid-6.row
    .m-cols-1
      .cell.gray.c-case-row__state
        i.icon-user
        span Caso {{ `${padLeft(item.id, 5)}` }}
    .m-cols-1
      .cell.center
        span {{ $moment(item.date, 'YYYY-MM-DDTHH:mm:ss.SSS').format('DD/MM/YYYY') }}
    .m-cols-1
      .cell.center
        span {{ item.emotion }}
    .m-cols-1
      .cell.center
        span {{ item.reason }}
    .m-cols-1.c-case-row__folder
      .cell.center
        i(
          @mouseover="folderHover = true"
          @mouseleave="folderHover = false"
          :class="folderHover ? 'icon-carpeta_ico':'icon-carpeta_open_ico'"
          @click="openCase(item.id)"
        )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      folderHover: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    padLeft (value, length) {
      return (value.toString().length < length)
        ? this.padLeft('0' + value, length)
        : value
    },
    openCase (idCase) {
      this.$emit('openCase', idCase)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
