@charset "UTF-8";

@font-face {
  font-family: "mottiva";
  src: url("assets/fonts/icons/mottiva.eot");
  src: url("assets/fonts/icons/mottiva.eot?#iefix") format("embedded-opentype"),
    url("assets/fonts/icons/mottiva.woff") format("woff"),
    url("assets/fonts/icons/mottiva.ttf") format("truetype"),
    url("assets/fonts/icons/mottiva.svg#mottiva") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "mottiva" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mottiva" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
  content: "\67";
}
.icon-bell:before {
  content: "\69";
}
.icon-check:before {
  content: "\6e";
}
.icon-heart:before {
  content: "\70";
}
.icon-chat:before {
  content: "\6a";
}
.icon-update:before {
  content: "\6c";
}
.icon-calendar:before {
  content: "\6d";
}
.icon-search:before {
  content: "\72";
}
.icon-down:before {
  content: "\73";
}
.icon-close:before {
  content: "\74";
}
.icon-history:before {
  content: "\75";
}
.icon-bell-1:before {
  content: "\76";
}
.icon-dots:before {
  content: "\77";
}
.icon-pause:before {
  content: "\78";
}
.icon-play:before {
  content: "\79";
}
.icon-up:before {
  content: "\7a";
}
.icon-clip:before {
  content: "\41";
}
.icon-justify:before {
  content: "\42";
}
.icon-informe:before {
  content: "\43";
}
.icon-calendar-2:before {
  content: "\44";
}
.icon-cita:before {
  content: "\45";
}
.icon-video:before {
  content: "\46";
}
.icon-eyes:before {
  content: "\47";
}
.icon-user:before {
  content: "\48";
}
.icon-email-2:before {
  content: "\49";
}
.icon-lock:before {
  content: "\4a";
}
.icon-left:before {
  content: "\4b";
}
.icon-graduate:before {
  content: "\4c";
}
.icon-academy:before {
  content: "\4d";
}
.icon-family:before {
  content: "\4e";
}
.icon-team:before {
  content: "\4f";
}
.icon-calendar-1:before {
  content: "\50";
}
.icon-profile:before {
  content: "\51";
}
.icon-lock-2:before {
  content: "\52";
}
.icon-email:before {
  content: "\53";
}
.icon-phone:before {
  content: "\54";
}
.icon-alert:before {
  content: "\55";
}
.icon-alert-2:before {
  content: "\56";
}
.icon-phone-2:before {
  content: "\57";
}
.icon-plus:before {
  content: "\58";
}
.icon-close-1:before {
  content: "\59";
}
.icon-birthday:before {
  content: "\5a";
}
.icon-home:before {
  content: "\30";
}
.icon-personal-card:before {
  content: "\31";
}
.icon-edit:before {
  content: "\32";
}
.icon-female:before {
  content: "\33";
}
.icon-mottivateca:before {
  content: "\34";
}
.icon-loading:before {
  content: "\61";
}
.icon-check-1:before {
  content: "\62";
}
.icon-cancel:before {
  content: "\63";
}
.icon-calendar-check:before {
  content: "\64";
}
.icon-save-inactive:before {
  content: "\65";
}
.icon-save:before {
  content: "\66";
}
.icon-trash:before {
  content: "\6b";
}
.icon-camera:before {
  content: "\68";
}
.icon-download:before {
  content: "\6f";
}
.icon-user-not:before {
  content: "\71";
}
.icon-microfone:before {
  content: "\35";
}
.icon-camera-1:before {
  content: "\36";
}
.icon-send:before {
  content: "\37";
}
.icon-microfone-not:before {
  content: "\38";
}
.icon-camera-1-not:before {
  content: "\39";
}
.icon-ring:before {
  content: "\21";
}
.icon-folder:before {
  content: "\22";
}
.icon-sons:before {
  content: "\23";
}
.icon-excel:before {
  content: "\24";
}
.icon-computer:before {
  content: "\25";
}
.icon-save-1:before {
  content: "\26";
}
