@font-face {
  font-family: "sofia_pro";
  src: url("assets/fonts/sofia/sofia_pro_ultralight_az.eot");
  src: url("assets/fonts/sofia/sofia_pro_ultralight_az.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/sofia/sofia_pro_ultralight_az.woff2") format("woff2"),
    url("assets/fonts/sofia/sofia_pro_ultralight_az.woff") format("woff"),
    url("assets/fonts/sofia/sofia_pro_ultralight_az.ttf") format("truetype"),
    url("assets/fonts/sofia/sofia_pro_ultralight_az.svg#sofia_proultralight")
      format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "sofia_pro";
  src: url("assets/fonts/sofia/sofia_pro_ultralight_italic_az.eot");
  src: url("assets/fonts/sofia/sofia_pro_ultralight_italic_az.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/sofia/sofia_pro_ultralight_italic_az.woff2")
      format("woff2"),
    url("assets/fonts/sofia/sofia_pro_ultralight_italic_az.woff") format("woff"),
    url("assets/fonts/sofia/sofia_pro_ultralight_italic_az.ttf")
      format("truetype"),
    url("assets/fonts/sofia/sofia_pro_ultralight_italic_az.svg#sofia_proultralight_italic")
      format("svg");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "sofia_pro";
  src: url("assets/fonts/sofia/sofia_pro_extralight_az.eot");
  src: url("assets/fonts/sofia/sofia_pro_extralight_az.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/sofia/sofia_pro_extralight_az.woff2") format("woff2"),
    url("assets/fonts/sofia/sofia_pro_extralight_az.woff") format("woff"),
    url("assets/fonts/sofia/sofia_pro_extralight_az.ttf") format("truetype"),
    url("assets/fonts/sofia/sofia_pro_extralight_az.svg#sofia_proextralight")
      format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "sofia_pro";
  src: url("assets/fonts/sofia/sofia_pro_extralight_italic_az.eot");
  src: url("assets/fonts/sofia/sofia_pro_extralight_italic_az.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/sofia/sofia_pro_extralight_italic_az.woff2")
      format("woff2"),
    url("assets/fonts/sofia/sofia_pro_extralight_italic_az.woff") format("woff"),
    url("assets/fonts/sofia/sofia_pro_extralight_italic_az.ttf")
      format("truetype"),
    url("assets/fonts/sofia/sofia_pro_extralight_italic_az.svg#sofia_proextralight_italic")
      format("svg");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "sofia_pro";
  src: url("assets/fonts/sofia/sofia_pro_light_az.eot");
  src: url("assets/fonts/sofia/sofia_pro_light_az.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/sofia/sofia_pro_light_az.woff2") format("woff2"),
    url("assets/fonts/sofia/sofia_pro_light_az.woff") format("woff"),
    url("assets/fonts/sofia/sofia_pro_light_az.ttf") format("truetype"),
    url("assets/fonts/sofia/sofia_pro_light_az.svg#sofia_prolight")
      format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "sofia_pro";
  src: url("assets/fonts/sofia/sofia_pro_light_italic_az.eot");
  src: url("assets/fonts/sofia/sofia_pro_light_italic_az.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/sofia/sofia_pro_light_italic_az.woff2") format("woff2"),
    url("assets/fonts/sofia/sofia_pro_light_italic_az.woff") format("woff"),
    url("assets/fonts/sofia/sofia_pro_light_italic_az.ttf") format("truetype"),
    url("assets/fonts/sofia/sofia_pro_light_italic_az.svg#sofia_prolight_italic")
      format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "sofia_pro";
  src: url("assets/fonts/sofia/sofia_pro_regular_az.eot");
  src: url("assets/fonts/sofia/sofia_pro_regular_az.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/sofia/sofia_pro_regular_az.woff2") format("woff2"),
    url("assets/fonts/sofia/sofia_pro_regular_az.woff") format("woff"),
    url("assets/fonts/sofia/sofia_pro_regular_az.ttf") format("truetype"),
    url("assets/fonts/sofia/sofia_pro_regular_az.svg#sofia_proregular")
      format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "sofia_pro";
  src: url("assets/fonts/sofia/sofia_pro_regular_italic_az.eot");
  src: url("assets/fonts/sofia/sofia_pro_regular_italic_az.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/sofia/sofia_pro_regular_italic_az.woff2") format("woff2"),
    url("assets/fonts/sofia/sofia_pro_regular_italic_az.woff") format("woff"),
    url("assets/fonts/sofia/sofia_pro_regular_italic_az.ttf") format("truetype"),
    url("assets/fonts/sofia/sofia_pro_regular_italic_az.svg#sofia_proitalic")
      format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "sofia_pro";
  src: url("assets/fonts/sofia/sofia_pro_medium_az.eot");
  src: url("assets/fonts/sofia/sofia_pro_medium_az.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/sofia/sofia_pro_medium_az.woff2") format("woff2"),
    url("assets/fonts/sofia/sofia_pro_medium_az.woff") format("woff"),
    url("assets/fonts/sofia/sofia_pro_medium_az.ttf") format("truetype"),
    url("assets/fonts/sofia/sofia_pro_medium_az.svg#sofia_promedium")
      format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "sofia_pro";
  src: url("assets/fonts/sofia/sofia_pro_medium_italic_az.eot");
  src: url("assets/fonts/sofia/sofia_pro_medium_italic_az.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/sofia/sofia_pro_medium_italic_az.woff2") format("woff2"),
    url("assets/fonts/sofia/sofia_pro_medium_italic_az.woff") format("woff"),
    url("assets/fonts/sofia/sofia_pro_medium_italic_az.ttf") format("truetype"),
    url("assets/fonts/sofia/sofia_pro_medium_italic_az.svg#sofia_promedium_italic")
      format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "sofia_pro";
  src: url("assets/fonts/sofia/sofia_pro_semi_bold_az.eot");
  src: url("assets/fonts/sofia/sofia_pro_semi_bold_az.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/sofia/sofia_pro_semi_bold_az.woff2") format("woff2"),
    url("assets/fonts/sofia/sofia_pro_semi_bold_az.woff") format("woff"),
    url("assets/fonts/sofia/sofia_pro_semi_bold_az.ttf") format("truetype"),
    url("assets/fonts/sofia/sofia_pro_semi_bold_az.svg#sofia_prosemibold")
      format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "sofia_pro";
  src: url("assets/fonts/sofia/sofia_pro_semi_bold_italic_az.eot");
  src: url("assets/fonts/sofia/sofia_pro_semi_bold_italic_az.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/sofia/sofia_pro_semi_bold_italic_az.woff2")
      format("woff2"),
    url("assets/fonts/sofia/sofia_pro_semi_bold_italic_az.woff") format("woff"),
    url("assets/fonts/sofia/sofia_pro_semi_bold_italic_az.ttf")
      format("truetype"),
    url("assets/fonts/sofia/sofia_pro_semi_bold_italic_az.svg#sofia_prosemibold_italic")
      format("svg");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "sofia_pro";
  src: url("assets/fonts/sofia/sofia_pro_bold_az.eot");
  src: url("assets/fonts/sofia/sofia_pro_bold_az.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/sofia/sofia_pro_bold_az.woff2") format("woff2"),
    url("assets/fonts/sofia/sofia_pro_bold_az.woff") format("woff"),
    url("assets/fonts/sofia/sofia_pro_bold_az.ttf") format("truetype"),
    url("assets/fonts/sofia/sofia_pro_bold_az.svg#sofia_probold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "sofia_pro";
  src: url("assets/fonts/sofia/sofia_pro_bold_italic_az.eot");
  src: url("assets/fonts/sofia/sofia_pro_bold_italic_az.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/sofia/sofia_pro_bold_italic_az.woff2") format("woff2"),
    url("assets/fonts/sofia/sofia_pro_bold_italic_az.woff") format("woff"),
    url("assets/fonts/sofia/sofia_pro_bold_italic_az.ttf") format("truetype"),
    url("assets/fonts/sofia/sofia_pro_bold_italic_az.svg#sofia_probold_italic")
      format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "sofia_pro";
  src: url("assets/fonts/sofia/sofia_pro_black_az.eot");
  src: url("assets/fonts/sofia/sofia_pro_black_az.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/sofia/sofia_pro_black_az.woff2") format("woff2"),
    url("assets/fonts/sofia/sofia_pro_black_az.woff") format("woff"),
    url("assets/fonts/sofia/sofia_pro_black_az.ttf") format("truetype"),
    url("assets/fonts/sofia/sofia_pro_black_az.svg#sofia_problack")
      format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "sofia_pro";
  src: url("assets/fonts/sofia/sofia_pro_black_italic_az.eot");
  src: url("assets/fonts/sofia/sofia_pro_black_italic_az.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/sofia/sofia_pro_black_italic_az.woff2") format("woff2"),
    url("assets/fonts/sofia/sofia_pro_black_italic_az.woff") format("woff"),
    url("assets/fonts/sofia/sofia_pro_black_italic_az.ttf") format("truetype"),
    url("assets/fonts/sofia/sofia_pro_black_italic_az.svg#sofia_problack_italic")
      format("svg");
  font-weight: 900;
  font-style: italic;
}
