<template lang="pug">
  validation-observer.c-room-create.ed-grid.m-grid-3(
    ref="observer"
    v-slot="{ handleSubmit }"
    tag="form"
    @submit.prevent
  )
    .m-cols-2
      .c-room-create__form
        .header
          router-link(:to="{ name:'EmotionRoomPage' }").icon-left
          span Crear nueva sala de emociones
        .body.ed-grid.m-grid-9
          .m-cols-7
            input-text(
              label="Nombre de la sala"
              type="text"
              rules="required"
              inputStyle="input-regular--column full"
              name="name"
              v-model="data.tittle"
              placeholder="80 caractéres como máximo"
            )
          .m-cols-2
            input-text(
              label="Fecha  "
              type="date"
              rules="required"
              inputStyle="input-regular--column full"
              name="date"
              v-model="date"
            )
          .m-cols-6.c-room-create__tematic
            span Psicólogo 1
            select-input(
              inputStyle="white"
              :elements="G_PSYCHOLOGIST"
              v-model="psychologist1"
              @input="changeCurrentEmotion()"
              :placeholder="currentFilters.emotions"
            )
          .m-cols-6.c-room-create__tematic
            span Psicólogo 2
            select-input(
              inputStyle="white"
              :elements="G_PSYCHOLOGIST"
              v-model="psychologist2"
              @input="changeCurrentEmotion()"
              :placeholder="currentFilters.emotions"
            )
          .m-cols-1
            input-text(
              label="Aforo"
              type="text"
              rules="required"
              inputStyle="input-regular--column full"
              name="capacity"
              v-model="data.participants"
              placeholder="8"
            )
          .m-cols-2
            input-text(
              label="Hora de inicio"
              type="time"
              rules="required"
              inputStyle="input-regular--column full"
              name="time"
              v-model="time"
            )
          .m-cols-3.c-room-create__tematic
            span Temática
            select-input(
              inputStyle="white"
              v-model="thematics"
              :elements="G_THEMATICS"
              @input="changeCurrentEmotion()"
              :placeholder="currentFilters.emotions"
            )
          .m-cols-3.c-room-create__tematic
            span Metodo
            select-input(
              inputStyle="white"
              v-model="methods"
              :elements="G_METHODS"
              @input="changeCurrentEmotion()"
              :placeholder="currentFilters.emotions"
            )
          .m-cols-6.c-room-create__rules
            input-text(
              label="Reglas"
              type="text"
              rules="required"
              inputStyle="input-regular--column full"
              name="rules1"
              v-model="rules[0]"
              placeholder="-"
            )
            input-text(
              type="text"
              inputStyle="input-regular--column full rule"
              name="rules2"
              v-model="rules[1]"
              placeholder="-"
            )
            input-text(
              type="text"
              inputStyle="input-regular--column full rule"
              name="rules3"
              v-model="rules[2]"
              placeholder="-"
            )
            br
            button.e-btn.e-btn--small.e-btn--icon.e-btn--secondary(
              v-if="!isLoading"
              @click="handleSubmit(onSubmit)"
            ) CREAR
            button.e-btn.e-btn--small.e-btn--icon.e-btn--secondary.e-btn--loading(
              v-else
            )
              i.icon-loading
          .m-cols-3
            span.input__label Portada
            label.c-room-create__image
              .btn
                i.icon-subir_ico
                | Adjunta una imagen
              span El archivo debe tener 1200 x 600 pixeles de medida, formatos: JPG, PNG.
              input( type="file" accept="image/png, image/jpeg" @change="onFilePicked")
    .m-cols-1
      .c-room-create__preview
        span Vista previa
        .card
          .header
            img( :src="image.url || require('@/assets/images/placeholder.png')")
            .tag
              i.icon-play
              | {{ time === '' ? '-' : $moment(time, 'HH:mm').format('hh:mm a.') }}
            .tag-date
              span(style="text-transform: uppercase") {{ date === '' ? '-' : $moment(date, 'YYYY-MM-DD HH:mm').format('ddd') }}
              p {{ date === '' ? '-' : $moment(date, 'YYYY-MM-DD HH:mm').format('DD') }}
              span(style="text-transform: uppercase") {{ date === '' ? '-' : $moment(date, 'YYYY-MM-DD HH:mm').format('MMM') }}
            .title
              img( :src="image.url || require('@/assets/images/placeholder.png')")
              span {{ data.tittle === '' ? 'Nombre de la sala' : data.tittle }}
          .body
            span Reglas:
            p {{ rules[0] === '' ? '-' : rules[0] }}
            p {{ rules[1] === '' ? '-' : rules[1] }}
            p {{ rules[2] === '' ? '-' : rules[2] }}
          .footer
            p {{ date === '' ? '---' : $moment(date, 'YYYY-MM-DD HH:mm').format('DD MMM') }} | {{ time === '' ? '-:-' : $moment(time, 'HH:mm').format('hh:mm a.') }}
            p
              i.icon-sesiones_ico
              | {{ data.participants === '' ? '-' : data.participants }}
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    inputArea: () => import('@/components/02-molecule/formElements/area'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        tittle: '',
        start: '',
        rules: '',
        participants: ''
      },
      files: [],
      psychologist1: '',
      psychologist2: '',
      thematics: '',
      methods: '',
      date: '',
      time: '',
      rules: [
        '',
        '',
        ''
      ],
      image: {
        base: '',
        url: ''
      },
      currentFilters: {
        emotions: {
          name: 'Selecciona',
          value: null
        }
      },
      isLoading: false
    }
  },

  computed: {
    ...mapGetters({
      G_PSYCHOLOGIST: 'Psychologist/G_PSYCHOLOGIST',
      G_THEMATICS: 'Thematic/G_THEMATICS',
      G_METHODS: 'Method/G_METHODS'
    })
  },

  watch: {},
  created () {
    this.A_GET_PSYCHOLOGIST()
    this.A_GET_THEMATICS()
    this.A_GET_METHODS()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_PSYCHOLOGIST: 'Psychologist/A_GET_PSYCHOLOGIST',
      A_GET_THEMATICS: 'Thematic/A_GET_THEMATICS',
      A_SET_ROOM: 'emotionRoom/A_SET_ROOM',
      A_GET_METHODS: 'Method/A_GET_METHODS'

    }),
    changeCurrentEmotion (e) {
      this.currentFilters.emotions = e
    },
    onFilePicked (e) {
      const files = e.target.files
      const fileReader = new FileReader()
      fileReader.addEventListener('load', () => {
        this.image.base = fileReader.result
      })
      fileReader.readAsDataURL(files[0])
      this.image.url = URL.createObjectURL(files[0])
    },
    async onSubmit () {
      try {
        this.isLoading = true
        this.data.start = `${this.date} ${this.time}`
        this.data.end = this.$moment(this.data.start, 'YYYY-MM-DD HH:mm').add({ hours: 2 }).format('YYYY-MM-DD HH:mm')
        this.data.rules = `${this.rules[0]} - ${this.rules[1]} - ${this.rules[2]}`
        this.data.idPsychologist1 = this.psychologist1.value
        this.data.idPsychologist2 = this.psychologist2.value
        this.data.idThematic = this.thematics.value
        this.data.idMethod = this.methods.value
        this.data.image = this.image.base
        const response = await this.A_SET_ROOM(this.data)
        console.log(response)
        console.log(this.psychologist1.value)
        console.log(this.psychologist2.value)
        this.$router.push({ name: 'EmotionRoomPage' })
      } catch (error) {
        console.log('you have a error', error)
      }
    },
    async toBase64 (file) {
      return await new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onload = () => resolve(reader.result)
        reader.onerror = error => reject(error)
      })
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
