<template lang="pug">
  .c-sessions
    .ed-grid.m-grid-9
      .m-cols-2
        .c-search(
          v-click-outside="hide"
          @click="toggleSearch = true"
          :class="toggleSearch ? 'active': ''"
        )
          v-search(
            type="text"
            placeholder="Buscar"
            name="search"
            inputStyle="row"
            @change="search"
            v-model="currentFilters.search"
          )
          i.icon-buscar_ico
      .m-cols-1
        select-input.white(
          style="width:8rem"
          :elements="filters.dates"
          v-model="currentFilters.dateFilters"
          @input="changeCurrentSelect()"
          @change="search"
        )
      .m-cols-2
        .c-room-create__options
          router-link(:to="{ name: 'EmotionRoomCreatePage' }").e-btn.e-btn--small.e-btn--rounded.e-btn--icon.e-btn--white.e-btn--secondary
            i.icon-subir_ico
            | Nueva sala de emociones
      .m-cols-4
        legend-table.c-sessions__legend
          ul.primary
            li.error Desconectado
            li.start Iniciando
            li.connect Conectados
            li.soon Pronto
            li.regular Regular
          ul.secondary
            li En sala
            li Navegando
            li Ausente
      .m-cols-9
        emotion-room-table(
          :rooms = "S_ROOMS"
        )
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    vSearch: () => import('@/components/02-molecule/formElements/search'),
    emotionRoomTable: () => import('@/components/03-organism/emotionRoomTable/default'),
    legendTable: () => import('@/components/01-atomo/legendTable/default'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentFilters: {
        fecha: {
          name: 'Fecha',
          value: null
        },
        search: '',
        dateFilters: ''
      },
      toggleSearch: false,
      currentOption: 'today',
      filters: {
        dates: [
          {
            name: 'Todos',
            value: 1
          },
          {
            name: 'Hoy',
            value: 2
          },
          {
            name: 'Mañana',
            value: 3
          },
          {
            name: 'Mes',
            value: 4
          }
        ]
      }
    }
  },

  computed: {
    ...mapState({
      S_ROOMS: state => state.emotionRoom.S_ROOMS
    })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_ROOMS: 'emotionRoom/A_GET_ROOMS'
    }),
    search () {
      this.A_GET_ROOMS({
        search: this.currentFilters.search,
        dateFilters: this.currentFilters.dateFilters
      })
    },
    hide () {
      this.toggleSearch = false
    },
    changeCurrentSelect (e) {
      this.currentFilters.dateFilters = e
      this.$emit('changeTo', this.currentFilters.dateFilters)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
