<template lang="pug">
  router-link(:to="router").c-card-benefit
    img(:src="benefit.image")
    .c-card-benefit__border
      .award(
        :class="benefit.name === 'GB' ? '':'mb'"
      )
        span {{ benefit.name }}
      span.points
        img( src="@/assets/images/points.svg")
        | {{ benefit.point }}
      .description
        p {{ benefit.description.substring(0, 15) }}
        img(:src="benefit.CompanyBenefit.image")
</template>
<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    router: {
      required: true,
      type: Object
    },
    benefit: {
      required: true,
      type: Object
    }
  },
  data () {
    return {
      data: ''
    }
  },
  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
