<template lang="pug">
  .c-creator
    .ed-grid.m-grid-7
      .m-cols-7
        .c-creator__title
          i.icon-left(
            @click="returnPage()"
          )
          h3 Crear institución
      .m-cols-2.c-creator-institution__content
        .c-creator-institution
          input-text(
            label="Nombre de la institución:"
            type="text"
            rules="required"
            inputStyle="input-regular--column full"
            name="name"
            v-model="data.name"
            placeholder="Introduce un título"
          )
        .e-btn.e-btn--small Crear
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        name: ''
      }
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    returnPage () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
