<template lang="pug">
  .input-switch(
    @click="changeValue"
    :class="value === options[1].value ? 'active':''"
  ) {{ options[0].name }}
    span
    | {{ options[1].name }}
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    name: {
      required: false,
      type: String
    },
    options: {
      required: false,
      type: Array
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      data: '',
      value: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {
    this.value = this.options[0].value
  },
  mounted () {},
  updated () {},
  methods: {
    changeValue () {
      if (this.value === this.options[0].value) {
        this.value = this.options[1].value
      } else {
        this.value = this.options[0].value
      }
      this.$emit('change', this.value)
    }
  }
}
</script>
