.c-layout {
  height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
  background: #D2EFF7;
}
.c-layout-dashboard {
  display: flex;
  width: 100%;
  min-height: 100vh;

  &__navbar {
    background: linear-gradient(219.05deg, #181818 22.4%, #02223c 84.4%);
    width: 55px;
    // 230px
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    transition: all .3s;

    .c-navbar {
      width: 55px;
      transition: all .3s;

      span {
        opacity: 0;
        line-height: 0;
        transition: all .3s;
      }
    }

    &:hover {
      width: 230px;

      .c-navbar {
        width: 230px;

        span {
          opacity: 1;
          line-height: 1;
        }
      }
    }
  }
  &__body {
    flex-grow: 1;

    > div > .ed-grid {
      max-width: 1600px;
    }
  }
}
