<template lang="pug">
  .c-mottivateca-create.c-mottivateca-create--detail
    .c-mottivateca-create__header
      i.icon-left(
        @click="prevPage"
      )
      h3 GESTOR DE MOTTIVATECA
    .c-mottivateca-create__body(
      v-if="S_TRAINING.Media"
    )
      .ed-grid.m-grid-5
        .m-cols-5
          .c-mottivateca-create__form.ed-grid.m-grid-2
            .m-cols-2
              span Título de video
              p {{ S_TRAINING.Media.name }}
            .m-cols-1
              span Descripción del video
              p {{ S_TRAINING.Media.description }}
            .m-cols-1
              span Portada
              img(:src="S_TRAINING.Media.image")
            .m-cols-2
              .selects
                .c-select
                  span Usuario
                  p {{ typeUser }}
                .c-select
                  span Categoría
                  p {{ S_TRAINING.Media.tbl_category_media.name }}
                .c-select
                  span Método
                  p {{ S_TRAINING.Media.method.name }}
                .c-input
                  span Puntos
                  p {{ S_TRAINING.Media.points }}
                .c-input
                  span Duración
                  p {{ S_TRAINING.Media.duration }}
            .m-cols-2
              .c-video--detail
                .c-video--detail__input
                  span {{ (S_TRAINING.Media.type === 1)? 'video' : 'audio' }}
                  span {{ S_TRAINING.Media.file.substring(S_TRAINING.Media.file.lastIndexOf('/')+1) }}
                video(
                  v-if="S_TRAINING.Media.type === 1"
                  :src="S_TRAINING.Media.file"
                  controls
                  )
                audio(
                  v-if="S_TRAINING.Media.type === 2"
                  :src="S_TRAINING.Media.file"
                  controls
                  )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

import { mapActions, mapState } from 'vuex'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    inputArea: () => import('@/components/02-molecule/formElements/area'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // no props
  },

  data () {
    return {
      data: '',
      title: '',
      description: '',
      filters: {
        emotions: [
          {
            name: 'emocion 1',
            value: 1
          },
          {
            name: 'emocion 2',
            value: 1
          }
        ],
        users: [
          {
            name: 'Pacientes',
            value: 1
          },
          {
            name: 'Psicologos',
            value: 2
          }
        ],
        categories: [
          {
            name: 'Capacitaciones',
            value: 1
          },
          {
            name: 'M. Libre',
            value: 2
          }
        ],
        tematic: [
          {
            name: 'Alimentación',
            value: 1
          },
          {
            name: 'Actividad física',
            value: 2
          },
          {
            name: 'Nuevos hábitos',
            value: 3
          },
          {
            name: 'Familia',
            value: 4
          },
          {
            name: 'Padres',
            value: 5
          },
          {
            name: 'Pareja',
            value: 6
          }
        ]
      },
      currentFilters: {
        emotions: {
          name: 'Selecciona',
          value: null
        },
        users: {
          name: 'Selecciona',
          value: null
        },
        categories: {
          name: 'Selecciona',
          value: null
        },
        tematic: {
          name: 'Selecciona',
          value: null
        }
      }
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
    ...mapState({
      S_TRAINING: state => state.Mottivateca.S_TRAINING
    }),
    typeUser () {
      if (this.S_TRAINING.Media.Role.id === 1) {
        return 'Pacientes'
      }
      if (this.S_TRAINING.Media.Role.id === 2) {
        return 'Psicólogos'
      }
      return 'Mesa ayuda'
    }
  },

  watch: {},
  created () {
    this.A_GET_TRAINING(this.$route.params.id)
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_TRAINING: 'Mottivateca/A_GET_TRAINING'
    }),
    changeCurrentEmotion (e) {
      this.currentFilters.emotions = e
    },
    changeCurrentUsers (e) {
      this.currentFilters.users = e
    },
    changeCurrentTematic (e) {
      this.currentFilters.tematic = e
    },
    prevPage () {
      this.$router.go(-1)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
