<template lang="pug">
  validation-observer.c-create-case(
    style="padding: 20px;"
    ref="observer"
    v-slot="{ handleSubmit }"
    tag="form"
    @submit.prevent
  ).c-protocols-detail
    .c-protocols-detail__title
        i(style="font-size:1.8rem").icon-subir_ico
        h2  SUBIR NUEVO PROTOCOLO
    .c-creator__form.ed-grid.m-grid-3(style="margin-top:0.8rem;margin-left:1.5rem")
      .m-cols-3
        .label
          h4 Objetivo del protocolo:
          input-text(
            type="text"
            rules="required"
            inputStyle="input-regular"
            name="theme"
            v-model="theme"
            placeholder=""
          )
      .m-cols-1
        .label
          h4 Aprobado por:
          input-text(
            type="text"
            rules="required"
            inputStyle="input-regular"
            name="theme"
            v-model="theme"
            placeholder=""
          )
      .m-cols-1
        .label
          h4 Responsable de aplicación:
          select-input(
            inputStyle="white"
            :elements="filters.actions"
            @input="changeCurrentSelect()"
            v-model="action"
            :placeholder="currentFilters.actions"
          )
      .m-cols-1
        .label
          h4 Proceso de atención:
          select-input(
            inputStyle="white"
            :elements="filters.actions"
            @input="changeCurrentSelect()"
            v-model="action"
            :placeholder="currentFilters.actions"
          )
      .m-cols-3
        .label
          h4 Introducción:
          input-area(
            type="text"
            rules="required"
            inputStyle="input-regular"
            name="theme"
            v-model="theme"
            placeholder=""
          )
      .m-cols-3
        .label
          h4 Procedimiento:
          input-area(
            type="text"
            rules="required"
            inputStyle="input-regular"
            name="theme"
            v-model="theme"
            placeholder=""
          )
      .m-cols-2
          a.e-btn.e-btn--secondary.send(
            @click="onSubmit" ) Confirmar
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

import { mapActions } from 'vuex'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    selectInput: () => import('@/components/02-molecule/formElements/select'),
    inputArea: () => import('@/components/02-molecule/formElements/area')

  },
  props: {
    // propierty: { required: false, type: String },
    session: {
      type: Object
    }
  },

  data () {
    return {
      data: '',
      theme: '',
      subject: '',
      filters: {
        actions: [
          {
            name: 'Reagendar',
            value: 'reschedule'
          },
          {
            name: 'Reagendar con otro',
            value: 'rescheduleReplace'
          },
          {
            name: 'Cancelar programa',
            value: 'cancel'
          },
          {
            name: 'Contestó otra persona',
            value: 'anotherPerson'
          },
          {
            name: 'No contestó',
            value: 'notResponse'
          },
          {
            name: 'Sí contestó',
            value: 'response'
          }
        ],
        emotions: [
          {
            name: 'Demo 01',
            value: 1
          },
          {
            name: 'Demo 02',
            value: 2
          }
        ]
      },
      currentFilters: {
        actions: {
          name: 'Selecciona',
          value: 0
        },
        emotions: {
          name: 'Selecciona',
          value: 0
        }
      },
      date: '',
      time: '',
      action: {
        name: 'Selecciona',
        value: 0
      },
      emotion: {
        name: 'Selecciona',
        value: 0
      }
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
    currentAction () {
      return this.currentFilters.actions
    }
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_POST_CASE_SESSION: 'Sessions/A_POST_CASE_SESSION'
    }),
    changeCurrentSelect (e) {
      this.currentFilters.actions = e
    },
    changeCurrentEmotion (e) {
      this.currentFilters.emotions = e
    },
    handleSubmit () {
      console.log('send create case ')
    },
    submitCase () {
      const data = {
        idSession: this.session.id,
        action: this.action.value,
        theme: this.theme,
        subject: this.subject,
        emotion: this.emotion.value,
        date: null
      }
      if (this.action.value === 'reschedule') {
        data.date = this.date + ' ' + this.time
      }
      this.A_POST_CASE_SESSION(data)
      this.$emit('caseSubmited', data)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
