<template lang="pug">
  .c-table.c-table--rounded
    .c-table__head.ed-grid.m-grid-9
      //- Header
      .m-cols-1 Nombres
      .m-cols-1 Apellidos
      .m-cols-1 Fecha de nac.
      .m-cols-1 DNI
      .m-cols-1 Celular
      .m-cols-1 Fecha de ini.
      .m-cols-1 Fecha de fin.
      .m-cols-2
    .c-table__body
      //- Body
      creator-table-row(
        v-for="item in items" :key="item.id"
        :item="item"
      )
</template>

<script>
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    creatorTableRow: () => import('@/components/02-molecule/creatorTable/row')
  },
  props: {
    // propierty: { required: false, type: String },
    items: {
      required: true,
      type: Array
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
  },
  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
