<template lang="pug">
  .row.ed-grid.m-grid-9
    .m-cols-1
      .cell {{ item.name }}
    .m-cols-1
      .cell {{ item.dateRegister }}
    .m-cols-1.center
      .cell {{ item.total }}
    .m-cols-1.center
      .cell {{ item.attend }}
    .m-cols-1.center
      .cell {{ item.progress }}
    .m-cols-1.center
      .cell {{ item.pendent }}
    .m-cols-1.center
      .cell
        router-link(
          :to="{ name: 'GubernamentalPatientPage', params: { id: item.id } }"
        ).c-gubernamental__link Ver pacientes
    .m-cols-1.center
      .cell
        label.c-gubernamental__toggle
          span {{ item.state ? 'Activo': 'Inactivo' }}
          input(
            type="checkbox"
            v-model="item.state"
          )
          .input
            span
    .m-cols-1.center
      .cell
        i.icon-trash.c-gubernamental__trash
</template>

<script>
import { mapActions } from 'vuex'
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    item: {
      required: false,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      checkInput: false
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_CASES: 'Sessions/A_GET_CASES'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
