<template lang="pug">
  .c-case
    .c-case__list(v-if="caseOption === 'list'")
      row-case(
        v-for="(item, key) in items"
        :key="key"
        @openCase="openCase"
      )
      .ed-grid.m-grid-6
        .m-cols-1.m-x-5
          span.c-case__more.c-case__more--only(@click="moreCases") Ver más
    .c-case__detail(v-if="caseOption === 'detail'")
      options-case(@back="backList")
    create-case(
      v-if="caseOption === 'create'"
    )

</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    rowCase: () => import('@/components/02-molecule/rowCase/sessions'),
    createCase: () => import('@/components/02-molecule/case/create'),
    optionsCase: () => import('@/components/03-organism/listCase/optionsCaseHistory')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      caseOption: 'list',
      /**
       * detail
       * list
       * edit
       * create
       */
      items: [1, 2, 3, 4]
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    openCase (id) {
      this.caseOption = 'detail'
      console.log(id)
    },
    moreCases () {
      console.log('more cases active')
    },
    backList (back) {
      this.caseOption = back
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
