<template lang="pug">
  .c-case
    .c-case__list(v-if="caseOption === 'list'")
      row-case(
        v-for="(item, key) in items"
        :key="key"
        :item="item"
        @openCase="openCase"
      )
      .ed-grid.m-grid-6
        .m-cols-1.m-x-5
          span.c-case__more(@click="moreCases") Ver más
    .c-case__options(v-if="caseOption === 'list'")
      .e-btn.e-btn--small.e-btn--rounded.e-btn--icon.e-btn--secondary(
        @click="caseOption = 'create'"
      )
        i.icon-user
        | Crear caso paciente
      .e-btn.e-btn--small.e-btn--rounded.e-btn--icon.e-btn--secondary(
        @click="caseOption = 'create'"
      )
        i.icon-psico_icono
        | Crear caso psicólogo
    .c-case__detail(v-if="caseOption === 'detail'")
      options-case(@back="backList" :idCase="idCase")
    create-case(
      v-if="caseOption === 'create'"
      :session="session"
      @caseSubmited="afterCaseSubmit"
    )

</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    rowCase: () => import('@/components/02-molecule/rowCase/sessions'),
    createCase: () => import('@/components/02-molecule/case/create'),
    optionsCase: () => import('@/components/03-organism/listCase/optionsCase')
  },
  props: {
    // propierty: { required: false, type: String },
    items: {
      required: true,
      type: Array
    },
    session: {
      type: Object
    }
  },

  data () {
    return {
      data: '',
      caseOption: 'list',
      idCase: ''
      /**
       * detail
       * list
       * edit
       * create
       */
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    openCase (id) {
      this.caseOption = 'detail'
      this.idCase = id
      console.log(id)
    },
    moreCases () {
      console.log('more cases active')
    },
    backList (back) {
      this.caseOption = back
    },
    afterCaseSubmit (data) {
      this.$emit('closeCase', data)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
