html,
body,
input {
  font-family: "sofia_pro";
  color: $g-text-dark;
}
form {
  margin-bottom: 0;
}
img {
  display: inline-block;
  max-width: 100%;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
a {
  color: $g-secondary;

  &:hover {
    text-decoration: none;
  }
}