.input-switch {
  display: flex;
  align-items: center;
  color: $g-secondary;

  span {
    display: block;
    margin: 0 .5rem;
    border-radius: 3rem;
    width: 56px;
    height: 28px;
    padding: 2px 3px;
    box-shadow: 0 2px 15px 2px rgba(30, 6, 75, 0.15);
    background-color: white;
    position: relative;
    cursor: pointer;

    &:before {
      content:'';
      display: block;
      height: 24px;
      width: 24px;
      margin-left: 0;
      background-color: $g-secondary;
      border-radius: 50%;
      transition: all .3s;
    }
  }
  &.active {
    span {
      &:before {
        margin-left: 27px;
      }
    }
  }
}