<template lang="pug">
  .c-navbar
    router-link(to="/")
      img(src="@/assets/images/Logo.svg")
    ul
      li
        router-link(:to="{ name: 'StadisticsPage' }")
          i.icon-estadisticas_ico
          span Estadisticas
      li
        router-link( :to="{ name: 'SessionsPage' }" )
          i.icon-sesiones_ico
          span Sesiones
      li
        router-link( :to="{ name: 'EmotionRoomPage' }" )
          i.icon-salas_emo_ico
          span Sala de emociones
      li
        router-link( :to="{ name: 'CasePage' }" )
          i.icon-historial_ico
          span Casos
      li
        router-link(:to="{ name: 'ProtocolsPage' }")
          i.icon-protocolos_ico
          span Protocolos
      li
        router-link(:to="{ name:'MottivatecaPage' }")
          i.icon-mottivateca__ico
          span Mottivateca
      li
        router-link(:to="{ name: 'MessagesPage' }")
          i.icon-mensajes_ico
          span Mensajes
      li
        router-link(:to="{ name: 'PatientsPage' }")
          i.icon-pacientes_ico
          span Paciente
      li
        router-link(:to="{ name: 'PsychologistPage' }")
          i.icon-psicologo_ico
          span Psicólogo
      li
        router-link(:to="{ name: 'BenefitsGestionPage' }")
          i.icon-beneficios_ico
          span Beneficios
      li
        router-link(:to="{ name: 'GubernamentalPage' }")
          i.icon-gubernamental_ico
          span Gubernamental
      li
        router-link(:to="{ name: 'ManagersPage' }")
          i.icon-gestores_ico
          span Gestores
      li
        router-link(:to="{ name: 'SuperMaPage' }")
          i.icon-super_ma_ico
          span Super M.A.
      li
        router-link(:to="{ name: 'CreatorPage' }")
          i.icon-creador_ico
          span Creador
      li.c-navbar__footer
        router-link(to="/")
          i.icon-perfil_ico
          span Perfil
      li
        a(
          @click="logoutAuth"
        )
          i.icon-cerrar_sesion_ico
          span Cerrar sesión
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_LOGOUT: 'Auth/A_LOGOUT'
    }),
    logoutAuth () {
      this.A_LOGOUT()
      this.$router.push({ name: 'LoginForm' })
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
