<template lang="pug">
  .c-table.c-table--rounded
    .c-table__head.ed-grid.m-grid-9
      //- Header
      .m-cols-1 Nombre
      .m-cols-1 Registro
      .m-cols-1.center Total
      .m-cols-1.center Atendidos
      .m-cols-1.center En proceso
      .m-cols-1.center Pendientes
      .m-cols-3
    .c-table__body
      //- Body
      gubernamental-table-row(
        v-for="item in items" :key="item.id"
        :item="item"
      )
</template>

<script>
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    gubernamentalTableRow: () => import('@/components/02-molecule/gubernamentalTable/row')
  },
  props: {
    // propierty: { required: false, type: String },
    items: {
      required: true,
      type: Array
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
  },
  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
