<template lang="pug">
  .row.ed-grid.m-grid-7
    .m-cols-1
      .cell {{protocol.code}}
    .m-cols-1
      .cell {{protocol.ProtocolProcess.name}}
    .m-cols-1
      .cell {{protocol.goal}}
    .m-cols-1
      .cell {{protocol.Responsible.firstname}} {{protocol.Responsible.lastname}}
    .m-cols-1
      .cell {{protocol.Approver.firstname}} {{protocol.Approver.lastname}}
    .m-cols-1
      .cell {{protocol.createdAt}}
    .m-cols-1.c-case-row__folder
      router-link(:to="{ name: 'ProtocolsDetailsPage', params: { id: protocol.id }}")
        i(
          @mouseover="folderHover = true"
          @mouseleave="folderHover = false"
          :class="folderHover ? 'icon-carpeta_ico':'icon-carpeta_open_ico'"
        )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {},
  props: {
    // propierty: { required: false, type: String },
    protocol: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      folderHover: false,
      toggleOption: false
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
