<template lang="pug">
  .c-gubernamental
    .header
      .data
        .head
          span Data
          i.icon-data_ico
        .description
          span Ver detalles
            i.icon-flehca_derecha_ico
      p.info 1000 000
        span Pacientes
    .body
      gubernamental-table(
        :items="institutions"
      )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    gubernamentalTable: () => import('@/components/03-organism/gubernamentalTable/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      institutions: [
        {
          id: 1,
          name: 'EsSalud',
          dateRegister: '25/10/2021',
          total: '832 000',
          attend: '500 000',
          progress: '320 000',
          pendent: '12 000',
          state: true
        },
        {
          id: 2,
          name: 'S.I.S.',
          dateRegister: '25/10/2021',
          total: '795 000',
          attend: '482 000',
          progress: '303 000',
          pendent: '10 000',
          state: true
        },
        {
          id: 3,
          name: 'Nombre 1',
          dateRegister: '25/10/2021',
          total: '439 000',
          attend: '324 000',
          progress: '118 000',
          pendent: '7 000',
          state: true
        },
        {
          id: 4,
          name: 'Nombre 2',
          dateRegister: '25/10/2021',
          total: '832 000',
          attend: '500 000',
          progress: '320 000',
          pendent: '12 000',
          state: true
        },
        {
          id: 5,
          name: 'Nombre 3',
          dateRegister: '25/10/2021',
          total: '795 000',
          attend: '482 000',
          progress: '303 000',
          pendent: '10 000',
          state: false
        },
        {
          id: 6,
          name: 'Nombre 4',
          dateRegister: '25/10/2021',
          total: '439 000',
          attend: '324 000',
          progress: '118 000',
          pendent: '7 000',
          state: true
        },
        {
          id: 7,
          name: 'Nombre 5',
          dateRegister: '25/10/2021',
          total: '832 000',
          attend: '500 000',
          progress: '320 000',
          pendent: '12 000',
          state: false
        },
        {
          id: 8,
          name: 'Nombre 6',
          dateRegister: '25/10/2021',
          total: '795 000',
          attend: '482 000',
          progress: '303 000',
          pendent: '10 000',
          state: true
        }
      ]
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
