<template lang="pug">
  .c-benefits-list
    .c-benefits-list__options
      .c-search(
        v-click-outside="hide"
        @click="toggleSearch = true"
        :class="toggleSearch ? 'active': ''"
      )
        input(
          type="text"
          placeholder="Buscar"
        )
        i.icon-buscar_ico
      select-input(
        :elements="filters.points"
        @input="changeCurrentSelect()"
        :placeholder="currentFilters.points"
      )
      select-input(
        :elements="filters.operator"
        @input="changeCurrentOperator()"
        :placeholder="currentFilters.operator"
      )
    .ed-grid.m-grid-3
      .m-col-1(
        v-for="(item, key) in benefits"
        :key="key"
      )
        card-benefit(
          :router="{ name: 'BenefitsPage' }"
          :benefit="item"
        )
</template>
<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    selectInput: () => import('@/components/02-molecule/formElements/select'),
    cardBenefit: () => import('@/components/02-molecule/cardBenefit/default')
  },
  props: {
    // propierty: { required: false, type: String },
    benefits: {
      required: true,
      type: Array
    }
  },

  data () {
    return {
      data: '',
      toggleSearch: false,
      filters: {
        points: [
          {
            name: '1000',
            value: 1000
          },
          {
            name: '2000',
            value: 2000
          },
          {
            name: '3000',
            value: 3000
          }
        ],
        operator: [
          {
            name: 'claro',
            value: 0
          },
          {
            name: 'movistar',
            value: 1
          }
        ]
      },
      currentFilters: {
        points: {
          name: 'Puntos',
          value: null
        },
        operator: {
          name: 'Operador',
          value: null
        }
      }
    }
  },
  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },
  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    changeCurrentSelect (e) {
      this.currentFilters.points = e
    },
    changeCurrentOperator (e) {
      this.currentFilters.operator = e
    },
    hide () {
      this.toggleSearch = false
    }
  }
}
</script>
<style lang="sass" scoped>
</style>
